[2015-03-25 08:56] daattali opened #1 "add travisCI"

[2015-03-25 08:56] daattali opened #2 "submit to CRAN"

[2015-03-25 09:06] daattali opened #3 "ggMarginal: if main plot has a title, add the title on top of the top margin"

[2015-03-25 09:07] daattali opened #4 "deal with gridExtra brokenness issue"
I can't include gridExtra in my package because of a bug that's fixed in their GitHub version but not on CRAN.  Get them to submit the fix to CRAN.

https://github.com/baptiste/gridextra/issues/5

[2015-03-25 23:18] #4 closed, assigned to nobody

[2015-03-26 02:53] #1 closed

[2015-03-28 22:38] #2 closed

[2015-04-20 20:08] daattali opened #5 "support boxplots in ggMarginal"
as suggested by a reddit user

[2015-04-20 20:08] daattali opened #6 "add demo shiny app to make it easy to experiment before installing"

[2015-04-22 01:23] daattali commented on #6
done 12675ca1ae51a5780972a1a50ba4189586e148a9

[2015-04-22 01:23] #6 closed

[2015-04-22 06:12] #3 closed

[2015-04-22 06:42] daattali commented on #5
implemented in separate branch d9dc0d4eed3a89109bcc5fcef75504b1f8cdcbf3
but I'm not sure it's very useful, and it makes the code a bit uglier so I might get rid of it

[2015-05-12 20:06] daattali opened #7 "Support changing the bin size for ggMarginal"
As suggested by @_zakahmad on twitter

[2015-05-12 20:21] #7 closed

[2015-05-12 20:22] daattali opened #8 "Improve ggMarginal ... param to allow specifying diff params to x and y margins"

[2015-05-16 20:11] zakahmad opened #9 "Histograms axes limits are wrong when using geom_smooth()"
Occasionally, I like to have both axes of a scatter have the same range or limits (in the original plot below I set the limits to c(-20,30)). However, to demonstrate the issue, I changed the y-axis limits using scale_y_continuous(limits = c(-40,30)) while having scale_x_continuous(limits = c(-20,30)).

The actual range of the data in the x-axis is: -17.49,  28.56 and on the y-axis is: -9.63, 17.58

[2015-05-16 21:34] daattali commented on #9
I did try to take care of that case, can you provide code to reproduce?

[2015-05-16 22:15] daattali commented on #9
Thanks for the report. Fixing

[2015-05-21 17:52] loerasg opened #10 "Error shiny"
With the upgrade of shiny says "No layers in plot" which should be the graph:

[2015-05-21 18:18] daattali commented on #10
You're right, since upgrading to shiny 0.12.0.9001 I do see that
message.... thanks for letting me know.  I can't figure out the problem yet

---
http://deanattali.com

On 21 May 2015 at 10:52, Daniel Loera <notifications@github.com> wrote:

[2015-05-21 18:44] daattali commented on #10
Opened issue with shiny https://github.com/rstudio/shiny/issues/841

[2015-05-21 18:49] daattali commented on #10
fixed, thanks for the quick bug report!

[2015-05-21 18:49] #10 closed

[2015-06-09 04:37] #5 closed

[2015-06-09 05:23] daattali commented on #8
done; there are specific `xparams` and `yparams` parameters to target a specific marginal plot, or the `...` parameter for both

[2015-06-09 05:23] #8 closed

[2015-06-26 21:16] daattali opened #11 "ggMarginal: when main plot is using log/sqrt/etc scale, marginal plots should also"
This isn't trivial because I don't know how to generalize looking for the current scale on a plot and using the same scale on another plot. I can manually check "is there a log x/y scale? if so, then add a log x/y scale to the margin plots" and repeat that for every common transformation.  But not sure yet how to do it efficiently.

[code]

[2015-07-10 18:38] daattali commented on #11
solved with eab490b7022ea872b6f86e8de3c4558e5c691a12

[2015-07-10 18:38] #11 closed

[2015-08-17 18:54] dniemeier opened #12 "Hi. I am having a lot of trouble getting this to work. First, the grid package isn't available for the R version I have (latest) and then even though the package is loaded, I get a msg saying to '...please install gridExtra' What am I missing?"
Hi. I am having a lot of trouble installing gridExtra. First, grid doesn't install under the current version of R and then when I try running running the package I get "Error: `gridExtra` package is required for this function to work. Please install it." even though the package is installed. Help?

[2015-08-17 19:02] daattali commented on #12
Note that `ggExtra` and `gridExtra` are two different packages. My package is `ggExtra` and it needs you to have installed `gridExtra` as a prerequisite. Are you sure you have `gridExtra` installed? Run the following command and see what you get:

[code]

[2015-08-17 19:45] dniemeier commented on #12
Hi, thanks.

I finally got it to work by just installing gridExtra - in your instructs
on github, you have the following:

"You need to have the grid and gridExtra packages installed for this
function."

Somehow, if you try to install grid, it messes up gridExtra. Then you have
to restart the R session. But I got it working!

[image: Inline image 1]

Deb Niemeier, Ph.D., P.E.
Professor
Director, S

[2015-08-17 19:47] daattali commented on #12
Installing `gridExtra` will already take care of installing `grid` so I'll update the docs

[2015-08-17 19:47] #12 closed

[2015-08-19 20:36] paternogbc opened #13 "Error running ggMarginal"
First, thank you very much for developing such a nice package!

I am having this error when running the function 'ggMarginal'

  arguments imply differing number of rows

Any idea how to solve the problem?

Maybe this is related to the log10 in the formula in ggplot2.

The code used:

                    geom_point(size = 3, color = "tomato")+
                    geom_smooth(method = "lm")
ggMargi

[2015-08-19 23:33] #13 closed

[2015-08-19 23:34] daattali commented on #13
@paternogbc thanks for the report, it took a while to debug this but I think I was able to solve it.  Please install the latest version of ggExtra from github and let me know if the problem persists

[2015-08-20 11:37] paternogbc commented on #13
@daattali thank you very much for this fix! Now it is working just fine!

[2015-09-01 15:59] paternogbc opened #14 "Estrange behaviour: ggMarginal (p1, type = "histogram")"
Dear @daattali,

I am using ggExtra on a shiny app. I dont know why, but today the rendered plot changed and the histogram is now a "rug" like plot. Any advise on that?

See below a small reproducible example.

[code]

![](http://i.imgur.com/VSyHn5H.png)

[code]

![](http://i.imgur.com/8RfrXKX.png)

[2015-09-01 17:07] daattali commented on #14
I just tried your code and it run fine, I see the normal expected plot.  Maybe one of your packages has been updated and is interfering?  Do you remember what packages you updated recently?  Here's my `sessionInfo()`

[code]

[2015-09-01 17:24] paternogbc commented on #14
Maybe... I have updated many packages recently... But my `sessionInfo()` looks very similar:
I will continue to investigate and give you a feedback. Thanks anyway!

    R version 3.2.2 (2015-08-14)
    Platform: x86_64-pc-linux-gnu (64-bit)
    Running under: Ubuntu 14.04.3 LTS

    locale:
    [1] LC_CTYPE=pt_BR.UTF-8       LC_NUMERIC=C               LC_TIME=pt_BR.UTF-8
    [4] LC_COLLATE=pt_BR.U

[2015-09-01 17:26] paternogbc commented on #14
Got it!

It was something related to ggplot2.

  lazy-load database '/home/paterno/R/x86_64-pc-linux-gnu-library/3.2/ggplot2/R/ggplot2.rdb' is corrupt
Além disso: Warning message:
In get(Info[i, 1], envir = env) : internal error -3 in R_decompress1
Erro: package or namespace load failed for ‘ggplot2’

Removed ggplot2, installed again... restarted R session and it is working again!

Sorry for that!

[2015-09-01 17:27] daattali commented on #14
Hmm... I just installed the dev version of ggplot2 and I'm getting the same error.   Looks like ggplot2 changed something recently that broke this... :/

[2015-09-01 17:28] daattali commented on #14
Ah this is annoying. This likely won't be a simple fix :disappointed:

[2015-09-01 17:32] paternogbc commented on #14
Ohhh.... That might be the case because I had updated ggplot2 from github. When I installed again I used `install.packages`. So I think you are right, it is related to ggplot2 development version.

If you need more details or any help, I am glad to contribute.

Cheers

[2015-09-01 17:34] paternogbc commented on #14
Maybe it is not so bad. It can be some small bug inside de development version of `ggplot2`.

[2015-09-01 19:36] daattali commented on #14
It's not really "bugs", they just completely changed the internals of ggplot2 and a lot of things just won't work anymore.  It might take a while to get things to work with the dev ggplot2 version, if you want to use ggMarginal I would stick with the CRAN ggplot2 version

[2015-09-01 20:06] paternogbc commented on #14
Ok... so the problem is deeper! Sorry for that.
For the shiny apps then I will stick with the last cran release from ggplo2.

Hope you find a easy way out because ggExtra is a very nice package!

All the best,
Cheers

[2015-09-01 23:06] daattali commented on #14
Reported a few bugs on ggplot2, hopefully will help maybe this fix easier

https://github.com/hadley/ggplot2/issues/1316

[2015-09-01 23:31] paternogbc commented on #14
Well not so bad then.

I am sure Hadley can provide some insights about the Bugs or possible ways to fix it.

[2015-09-01 23:37] paternogbc commented on #14
I Just checked my package [sensiPhy](https://github.com/paternogbc/sensiPhy), which heavily depends on ggplot2 for ploting summary results!
Many errors comming with the dev version! :disappointed:

[2015-09-01 23:40] daattali commented on #14
Yeah they've done tons of internal refactoring and external changes as well. It'll be a bit painful.

[2015-09-01 23:43] paternogbc commented on #14
Actually, for me this was good because we are organizing the first CRAN submission around september, Now I can delay the submission and fix the bugs before.

[2015-09-02 01:34] daattali commented on #14
The main issue I spent a lot of time on and still couldn't fix is making sure the margins are preserved in marginal plots.  Seems to potentially be a bug in ggplot2 https://github.com/hadley/ggplot2/issues/1317

Thanks @paternogbc for reporting the issue, gives me a chance to see all the much deeper issues with the new ggplot :)

[2015-09-02 01:44] paternogbc commented on #14
So I just updated ggExtra and did some tests with my shiny app that uses `ggMarginal`. The major problems seems to be fixed. There is just some small overlap of the marginal plots inside the orginal axis.

You welcome @daattali, I am glad that it helped. ;)

I will keep doing more tests If I find anything new I`ll let you know.

[2015-09-02 02:57] daattali commented on #14
Yep, the problem you mention is exactly the one that I can't seem to fix and I reported a bug to ggplot2 about the margins.  Hopefully everything other than that alignment is fixed. Glad to know it seems to be working better, do let me know if you find anything else strange if it's small.  Thanks!

[2015-09-02 23:37] #14 closed

[2015-09-02 23:39] daattali commented on #14
@paternogbc I think I was able to fix all issues, including the alignment issue. When you have time, if you could test ggMarginal with the new ggplot2 version, let me know if it works

[2015-09-03 00:06] paternogbc commented on #14
@daattali great news, thanks for the fix. I'll update and keep on some tests.
I let you know if I find anything strange.

[2015-09-14 12:27] MarcinKosinski opened #15 "ggExtra with facets"
Is it possible to use your fantastic package to create a plot described in this [question](http://stackoverflow.com/questions/32564695/scatterplots-with-density-and-correlations-in-ggplot2) :)?

[2015-09-14 16:57] daattali commented on #15
Oh geez that looks scary to implement. Unfortunately no :stuck_out_tongue:
If someone wants to attempt tackling this, they're welcome to do it and submit a pull request when ready. But dealing with facets is extremely hard and I doubt I'll ever implement something like this. Fair question though. Sorry :)

[2015-09-14 16:57] #15 closed

[2015-09-14 19:40] MarcinKosinski commented on #15
Someone has answered my question and there appears to be such package and
functionality :)

ggpairs function which can generate plots > similar to the one you show. It
also allows ggplot2 and GGally objects to be combined in several ways

2015-09-14 18:57 GMT+02:00 Dean Attali <notifications@github.com>:

[2015-09-14 19:45] daattali commented on #15
Phew, awesome! Thanks for mentioning the package in case someone else is looking for this in the future

[2015-10-09 17:29] MarcinKosinski opened #16 "`Error: no layers in the plot` still occures for gridExtra_0.9.1"
`Error: no layers  in the plot` still occures when you have an old version of gridExtra (it does not work for me for version gridExtra_0.9.1) so you should ensure that user has at least version 2.0.0 of gridExtra. Can you fix this somehow or add it to the vignette/info/description?

[2015-10-09 18:22] daattali commented on #16
Thanks,will look into it. Can you show your entire `sessionInfo()` please

[2015-10-12 16:41] bbolker opened #17 "horizontal geoms"
would you be interested in a contribution (pull request) of some horizontal variants of geoms such as linerange (useful when trying to use faceting and flipped coordinates together, which is not currently feasible in ggplot2)?

e.g. see:

* https://github.com/hadley/ggplot2/pull/1128
* https://github.com/hadley/ggplot2/pull/1261

[2015-10-12 23:08] daattali commented on #17
Do you mind showing an image of what this does?

If the code is clean, well documented, and adds 0 or minimal dependencies, then yes I'd very much welcome this

[2015-10-12 23:28] bbolker commented on #17
Most useful for coefficient plots, where facets, linerange/pointrange geoms, and flipped coordinates (to allow for long variable names) are all desired, but points 1 and 3 are incompatible.

The author of https://github.com/hadley/ggplot2/pull/1128 (who has a more complete implementation than mine) said he might prefer to put this stuff in a separate package.

![linerangeh](https://cloud.githubuse

[2015-10-13 00:31] daattali commented on #17
Cool, if you want to add the functionality to this package, then do submit
a PR. Thanks!

---
http://deanattali.com

On 12 October 2015 at 16:28, Ben Bolker <notifications@github.com> wrote:

[2015-11-06 01:14] daattali commented on #16
@MarcinKosinski I'm pretty sure I spent a lot of time into ensuring it'll work with the old `gridExtra` version.  Can you let me know what the problem is and show me your `sessionInfo`?

[2015-11-06 02:43] daattali opened #18 "When plotting marginal histograms, the first and last bin are sometimes cut off"
As reported by a user in a private email, the first and last bins seem to be cut off.  I'm suspecting it's because the first bin's left edge is actually outside of the range of the main plot. For example, if the main scatterplot begins at x = 10, then maybe the first bin is centered at x = 10, but its left edge is at x = 9, which is not within the range.

[2015-11-06 03:54] #18 closed

[2015-11-09 13:38] Rekyt opened #19 "Not default theme set makes grid appear on marginal density"
Hi,

When using a `theme_set()` different from default (for example `theme_set(theme_bw())`), the marginal densities or histogram use the same theme and thus have grids and lines appearing.

![rplot](https://cloud.githubusercontent.com/assets/5593751/11034956/89cf11ec-86ef-11e5-84e7-31f16445d943.png)

[2015-11-09 20:25] daattali commented on #19
Thanks. Note for future self to reproduce:

[code]

[2015-11-11 03:37] #19 closed

[2015-11-24 14:55] MarcinKosinski commented on #16
Hi, I was trying to reproduce this bug but I can't. The function works properly now
Maybe I had another package loaded to the NAMESPACE that was in conflict with `ggExtra` but I can't figure it our which package is was (even running the same script but at new session).

So maybe it was caused by my session that had too many packages loaded. Now it works fine

[2015-11-24 14:55] #16 closed

[2016-01-13 21:48] ksarathbabu opened #20 "How to use ggExtra when the X variable is discrete?"
I keep getting this error, "Error: StatBin requires a continuous x variable the x variable is discrete. Perhaps you want stat="count"?" How do I solve this issue?

[2016-01-13 22:07] daattali commented on #20
I've never tried using a discrete variable. Are you trying to show a histogram?  ggExtra was originally only meant for density plots which don't make as much sense for discrete variables, and I just never considered non continuous variables.  I might look into fixing this in the future, but not right now, I'm a bit too busy. You're welcome to look at the source code and submit a PR if you want to.

[2016-01-13 22:57] ksarathbabu commented on #20
Thank you for your immediate response. I am trying to achieve something similar to Gene vs Sample plot. (https://www.broadinstitute.org/files/blog/images/2011/mutsig_coMut-v2.jpg  ). I got the main plot working. But when I tried the histogram on the left which is the total no. of mutations in a Gene, I got this error. If you can point me in the right direction then I might be able to edit the sour

[2016-01-13 23:19] daattali commented on #20
So a histogram indeed.  If you look at the source code for the `ggMarginal` function, there's an inner function called `marginPlot` and that's where the side plot is generated. [Source code](https://github.com/daattali/ggExtra/blob/master/R/ggMarginal.R#L156-L213). Specifically, look at the line `do.call(ggplot2::geom_histogram, extraParams)`, that's where the histogram gets created.  Maybe there

[2016-01-13 23:25] daattali commented on #20
Also, that seems like a heatmap rather than a scatterplot.  `ggMarginal` is meant to work with scatterplots because they imply continuous, unlike heatmaps which are the opposite. I'm not sure how I feel about trying to support heatmaps too, other issues may arise. But I think maybe using `geom_bar` instead of `geom_histogram` would work

[2016-02-17 03:41] heroxbd commented on #3
Therefore there is no ideal way to achieve this at the moment?

[2016-02-17 03:46] daattali commented on #3
unfortunately not

[2016-02-28 07:09] daattali commented on #17
Closing due to inactivity. Feel free to open it back up if you want to take it further

[2016-02-28 07:09] #17 closed

[2016-02-28 07:10] daattali opened #21 "Write an RStudio add-in that lets you select a ggplot object and interactively lets you add marginal plots"

[2016-03-08 21:17] WilDoane commented on #9
A version of this problem appears to still exist when geom_smooth() extends the axis range.

[code]

![mtcars](https://cloud.githubusercontent.com/assets/550643/13616706/0bdf958c-e549-11e5-8b71-fdb7a8879ba4.png)

[code]

[2016-03-08 21:50] daattali commented on #9
Thanks for the report. I'm really busy for the next 2 months, I'll try to take a look when I can, but unfortunately this is low priority at the moment

[2016-03-29 09:20] daattali commented on #21
done

[2016-03-29 09:20] #21 closed

[2016-03-31 09:34] daattali opened #22 "Notes suggested by @baptiste"
as suggested by @baptiste

1. See if the hacks caused by gridExtra not playing nicely in packages can be removed

2. add a note about the fact that this is not the same ggExtra as the one from many years ago

[2016-04-04 07:56] gatcbiotech opened #23 "legends offsets histograms"
Hi,
when you have legends, the marginal plots are not displayed correctly to the axis. See the attached files for an example.
Regards,
Yadhu

![without legend](https://cloud.githubusercontent.com/assets/16257570/14241340/51079102-fa4b-11e5-83ac-7a7b58f640a0.png)
![withlegend](https://cloud.githubusercontent.com/assets/16257570/14241342/54ace0fa-fa4b-11e5-965c-9547dd272aff.png)

[2016-04-04 08:02] daattali commented on #23
Thanks for the report. Please provide some code for a minimal reproducible example if you could. I'll take a look in a couple weeks after I finish my thesis and defense

[2016-04-05 08:56] gatcbiotech commented on #23
myplot <- ggplot(mtcars, aes(wt, mpg)) + geom_point(aes(color=vs))
ggExtra::ggMarginal(
  p = myplot,
  type = 'histogram',
  margins = 'both',
  size = 5,
  col = 'black',
  fill = 'gray'
)

[2016-04-25 01:54] #22 closed

[2016-04-25 08:09] daattali commented on #23
I just tried looking into this a little bit, and I'm not sure how to fix this.  I'm not sure how to tell if a ggplot object has a legend or not, if anyone knows a way to figure that out, or has another fix for this issue, I'll welcome any ideas

[2016-04-25 08:28] daattali commented on #20
I still think your question was about a heatmap.  I'm closing this due to inactivity; feel free to re-open if you have an example (including code) showing what you need

[2016-04-25 08:28] #20 closed

[2016-04-25 08:38] daattali commented on #9
@WilDoane I looked into this a bit but wasn't able to find a good solution.  What I tried to do is to just copy the scale aesthestics from the main plot to the marginal plot, but for some reason it doesn't work.  If anyone wants to tackle this, I'd gladly welcome a PR.

[2016-04-28 16:30] sfd99 opened #24 "On smaller monitors, results plot is "cut-off" at bottom x-axis."
**NOTE:**  Problem only happens _on smaller_ monitors.
My 2nd monitor, where I run R studio, is 14 inches diag.
(No problem on larger monitors)

Using your great  mtcars **ggExtra** _**Margins**_ example,
in the latest Rstudio / Linux.

From the _Console panel_,
this works ok:

library(ggplot2)
library(ggExtra)
myplot <- ggplot(mtcars, aes(wt, mpg)) + geom_point()

But...using the Rstudio "addin"

[2016-05-01 08:58] daattali commented on #24
I'm also on a 14 inch monitor and don't have that problem. I suspect the problem stems from a small screen resolution - what's the resolution you're using?  Regardless, I'll try to fix it

[2016-05-01 09:37] #24 closed

[2016-05-01 09:38] daattali commented on #24
@sfd99 can you please test again on your monitor with the latest github version? Should be fixed

[2016-05-02 03:58] sfd99 commented on #24
Resolution on the  (secondary) 14'' monitor:
1024 X 768 (4:3)
----------------------
**_btw:_**  (see my + recent email for details):

  mynewplot <- ggMarginalGadget(myplot) WORKS FINE now!.

But.... the other alternative method (using the Rstudio "addin"),
 ie:  highlight the:
       myplot <- ggplot(mtcars, aes(wt, mpg)) + geom_point()

gives this message:

Error: 'x' should be a list of {range

[2016-05-04 06:16] crew102 commented on #23
I can take a shot at this over the weekend. Pretty sure I know how to fix.

[2016-05-04 07:26] daattali commented on #23
@crew102 that'd be great

[2016-05-30 06:21] #23 closed

[2016-05-30 06:22] daattali commented on #23
Fixed thanks to @crew102

[2016-07-22 22:59] mikejiang opened #27 "Add marginal density/histogram to geom_hex"
It will be nice to able to show geom_hex along with two densities on top and right since there are circumstances where scatterplot is too slow due to the huge number of events.

[2016-07-22 23:04] daattali commented on #27
You can do that right now.  Just call `ggMarginal()` with a plot that has a `geom_hex` layer instead of `geom_point`.

[code]

[2016-07-22 23:06] mikejiang opened #28 "ggMarginal for multi-panel plots"
Now it only supports one panel, it will be useful to support multi-panel plots faceted by either `facet_wrap` or `facet_grid`

[2016-07-22 23:09] daattali commented on #28
I'm not sure what that should look like, sounds like it'll be a bit messy. If anybody wants to implement that, I'll happily accept a pull request, but I don't think it's a feature I'm going to try to add myself.

[2016-08-07 20:20] daattali opened #29 "Add support for dotplots?"
There was a [blog post](http://motioninsocial.com/tufte/) showing how to do many Tufte-style plots in R. The author included `ggMarginal` but noted that it cannot be used to make dotplots eg

![](http://i.imgur.com/GfwTtIz.png)

I suppose it could be a nice extra feature to support those kind of plots as well, even though they're very very similar to histograms. I looked into it very briefly and u

[2016-08-07 20:22] daattali commented on #29
tweets relating to the problem of dotplots: https://twitter.com/daattali/status/762351053652111361

[2016-08-13 20:37] pinetree1 opened #30 "ggMarginal(p) invalidates the boldness of the main plot title"
ggMargin is great. But it changes bold main title to plain text, which is not desired.

p <- ggplot(mtcars, aes(x=wt, y=mpg)) + geom_point() + theme_bw() +
labs(title="Main Title", y="MPG") +
theme(plot.title=element_text(face="bold", size=14),
axis.title.y=element_text(face="bold", size=14))

p's main title and y are bold.

ggMarginal(p, margins="y", size=4)

Now main title is changed to plain te

[2016-08-13 21:53] daattali commented on #30
fixed

[2016-08-13 21:53] #30 closed

[2016-09-30 05:12] daattali opened #31 "look into using NSE in the demo gadget"

[2016-09-30 05:19] daattali commented on #31
https://github.com/gammarama/intRo/blob/application/global.R
https://github.com/gammarama/intRo/blob/application/modules/inference/t_test/helper.R

[2016-10-03 22:38] daattali opened #32 "ggplot2 2.2.0 is going to have a lot of breaking changes - fix the code"
ggplot2 is being updated again, and it looks like the internal changes in ggplot2 are completely breaking ggMarginal. Again. :(

[2016-10-17 08:15] RMHogervorst opened #33 "split violing plots [feature request]"
I love the package, can I suggest a new geom?
Or is there another ggplot extension where this would fit better?

a split violin plot. That is, two densities of groups with the backs to eachother. This stack overflow question has a custum function, but it might be something to add?

https://stackoverflow.com/questions/35717353/split-violin-plot-with-ggplot2

[2016-10-17 08:20] daattali commented on #33
If the code for it is already ready and it just needs to be packaged nicely, I wouldn't mind having it in ggExtra because it will only make my package better :)

But frankly I think ggExtra is mostly synonymous with just ggmarginal, and there are some other packages that do a great job at adding geoms to ggplot2. I don't know which one is the best but if you look through the packages at [http://ww

[2016-10-19 12:30] masalmon commented on #9
@daattali "What I tried to do is to just copy the scale aesthestics from the main plot" -> where exactly in ggMarginal? Do you mean

[code]
?

I'm looking at the problem because a colleague of mine uses custom x and y limits.

[2016-10-20 09:02] RMHogervorst commented on #33
Thanks a lot, I agree that it would fit better in other gg extensions. I dropped the suggestion in https://github.com/hrbrmstr/ggalt/issues/24.

[2016-10-20 09:02] #33 closed

[2016-10-22 06:10] daattali commented on #9
@masalmon getLimits() and getScale() are two functions I use to try to match the original plot. If your colleague uses custom x and y limits, she should be fine, that works.  Example:

[code]

What doesn't work is using `geom_smooth()` - then the y-axis marginal plot is a bit out of place

[2016-11-11 18:24] daattali commented on #32
done #34

[2016-11-11 18:24] #32 closed

[2017-01-10 19:47] seasmith opened #35 "Add arguments to 'rotateTextX()'"
It would add more convenience to an already convenient function. An idea:

[code]

[2017-01-10 19:50] daattali commented on #35
Thanks Luke, I would welcome a PR if you want to do that
On Jan 10, 2017 2:47 PM, "Luke Smith" <notifications@github.com> wrote:

[2017-02-16 15:18] AhabTheJudge opened #37 "Marginal plot not mapped correctly after coord_flip()"
I have a geom_boxplot() + coord_flip().  Adding a marginal histogram to the y axis places it on the true x axis.  Trying to add it to the x axis throws an error.

[2017-02-17 00:15] daattali commented on #37
You're right, coode_flip() doesn't work. I'll try to take a look when I find some time, but it's unlikely in the near future as I have a bit too much on my plate at the moment. I'd be happy to accept a PR :)

[2017-02-17 15:40] AhabTheJudge commented on #37
No worries.  I totally get it.  Just wanted to let you know.  Thanks!

On Thu, Feb 16, 2017 at 6:15 PM Dean Attali <notifications@github.com>
wrote:

--
Justin DeVault

[2017-02-23 19:05] tanerumit opened #38 "ggMarginal() not working with ggplot2.2.1.900"
I am trying to replicate the example:

[code]

Which results the following error:

Error: Don't know how to add o to a plot
In addition: Warning message:
In mean.default(getLimits(pbTop, "y")) :
  argument is not numeric or logical: returning NA

----
Session info:
[code]

[2017-02-23 19:09] daattali commented on #38
You seem to be right, updating from ggplot2 2.2.1 to 2.2.1.9000 seems to be
broken.  Every time ggplot is updated, it breaks ggmarginal, makes me very
sad :(

I'll try to take a look when I find some free time, thanks for reporting!

---
Founder & Lead Consultant
AttaliTech Ltd
http://deanattali.com/shiny

On 23 February 2017 at 14:05, Umit <notifications@github.com> wrote:

[2017-02-23 22:51] crew102 commented on #38
Looks like it's just a matter of a ggplot2 restructuring/renaming components of the `layout` object...E.g., `layout$panel_scales$y` should be changed to `layout$panel_scales_y` in ggMarginal. I would suggest a more thorough refactoring of ggMarginal, though, so that its easier to fix these kinds of problems in the future. I can take care of that sometime next week.

[2017-02-23 22:56] daattali commented on #38
A refactoring is definitely needed, but I'm not that familiar with ggplot2
especially since 2.0 came out. I would be very happy to get a PR!
On Feb 23, 2017 5:51 PM, "Chris Baker" <notifications@github.com> wrote:

[2017-02-24 01:03] tanerumit commented on #38
Thanks!!

[2017-03-02 00:16] crew102 opened #39 "Initial questions"
Hi there -

Two initial questions I have come across while refactoring:

1. Are we sure that this is needed for ggplot2 V 2.2 and above (lines 96-99 of ggMarginal.R):
[code]
 I'm getting the behavior that I would want (a warning from ggplot: "Warning: Ignoring unknown parameters: fill") when I drop those lines from ggMarginal and I run this code:
[code]
I also don't understand why this line would

[2017-03-02 00:31] crew102 commented on #39
Just saw that the density plots are actually line plots with a geom_density, hence the check on the `fill` param. You can disregard question 1.

[2017-03-02 06:14] #35 closed

[2017-03-02 06:20] daattali commented on #39
You're really taking a good look at the code! I hope the documentation and the code are friendly enough to a third party. To answer question 2: if you look at the line in the middle of that chunk:

[code]

I try to ensure there's a mapping to use X and Y from if none is provided. This would happen when you do something like `ggplot(iris) + geom_point(aes(Sepal.Width,Sepal.Length))` - in this case,

[2017-03-02 16:10] crew102 commented on #39
Didn't know this, thanks, that answers.

[2017-03-02 16:10] #39 closed

[2017-03-02 22:06] daattali commented on #39
And to be honest, I can't give you such ggplot calls right now, because I've been very out of touch with this package and ggplot for a while. But when I made the package I did run into that issue, that much I do know :)

[2017-03-02 23:15] crew102 commented on #37
Can u post reprod ex?

[2017-03-03 04:22] daattali commented on #37
[code]

Compare `ggMarginal(p)` to `ggMarginal(p + coord_flip())`

[2017-03-03 16:23] crew102 commented on #37
Thanks. I think we can close this in the next version.

[2017-03-03 16:27] AhabTheJudge commented on #37
Sorry for not being able to reply.  Thank you all!

On Fri, Mar 3, 2017 at 10:23 AM Chris Baker <notifications@github.com>
wrote:

--
Justin DeVault

[2017-03-10 22:39] crew102 opened #41 "Add visual tests for ggMarginal (current version of ggplot2)"

[2017-03-10 22:40] crew102 opened #42 "Add visual tests for ggMarginal (all versions of ggplot2 >= 2.2.0)"

[2017-03-10 22:41] crew102 opened #43 "Refactor ggMarginal and test its internal functions (mostly those that access ggplot2 objects)"

[2017-03-10 22:42] crew102 opened #44 "Add webhook to trigger build when new version of ggplot2 passes"

[2017-03-11 03:53] daattali commented on #41
specifically, using [vdiffr](https://github.com/lionel-/vdiffr)

[2017-03-11 03:54] daattali commented on #42
The harder part here is figuring out how to get a system in place that **can** handle testing multiple versions of ggplot. Once that system is in place, actually adding the tests is the easy part :)

For reference https://gist.github.com/jimhester/d7aeb95bbed02f2985a87c2a3ede19f5 (thanks @jimhester)

[2017-03-11 03:57] daattali commented on #43
Related to #37 #38 #40

[2017-03-11 05:39] jimhester commented on #42
FWIW I will probably be adding a `with_package_versions()` function to withr that you could use for this, assuming you can wait a bit for the next withr release.

[2017-03-11 06:02] daattali commented on #42
Awesome!
On Mar 11, 2017 12:39 AM, "Jim Hester" <notifications@github.com> wrote:

[2017-03-24 13:37] flying-sheep opened #45 "ggMarginal can’t handle Date axes"
[code]

the second one throws:

[code]

[2017-03-26 23:06] daattali commented on #45
Thank you for the report. ggExtra is currently undergoing major revisions and hopefully this will be solved in the next version

[2017-04-15 00:37] crew102 opened #46 "ggMarginal should carry theme of title through"
Right now `ggMarginal`  only carries the color and font face of the scatter plot's title through to the final plot. The text grob that we use for a title in the final plot is created here:
[code]
It's easy to pull out the ggplot2 `titleGrob` that contains all of the theme elements desired by the user, and drop that grob in instead of using `grid::textGrob`. I will include this in the next PR.

[2017-04-15 04:54] daattali commented on #46
Thank you, this PR is going to be loved by many!

[2017-04-15 05:19] daattali opened #48 "Printing a ggMarginal object to a non interactive device results in a leading blank page"
This is fixed by @crew102 's PR #47

[2017-04-17 18:37] crew102 commented on #44
I did some research on this and I don't think it's possible to trigger based on another users repo...Do you know anyone who might know?

[2017-04-17 20:30] daattali commented on #44
To be honest, I haven't done my research on the topic and I don't know too much about it. Let's see if someone on twitter knows the answer off the top of their heads (I assume they will either have an easy answer or a flat out "no")

https://twitter.com/daattali/status/854069187404288000

[2017-04-17 21:30] daattali commented on #44
Looks like the solution is to use Cron Jobs in travis, to automatically run the tests once per day/week

https://docs.travis-ci.com/user/cron-jobs/

[2017-04-20 21:18] arvi1000 commented on #20
I have this issue too. Here's a reproducible example

[code]
This is probably a feature request rather than a bug, but I would find it useful to add marginal histograms to the above plot, along the lines of what one gets with `qplot(dat$x)`

If you agree this is 1) not currently supported 2) useful, maybe I can contribute this feature

[2017-04-20 22:02] daattali commented on #20
Thanks @arvi1000

This is not currently implemented and it would be great if you could submit a PR.

The package is currently undergoing a major overhaul, so it might be better if you wait. Do you need this feature ASAP?

[2017-04-25 15:59] arvi1000 commented on #20
Definitely don't need ASAP. I'll wait for refactor. Thanks!

[2017-04-26 16:14] #41 closed

[2017-04-26 16:14] #46 closed

[2017-04-26 18:26] daattali commented on #48
fixed

[2017-04-26 18:26] #48 closed

[2017-04-26 18:54] daattali opened #49 "X-axis label too close to edge of plot - need a bit of margin because some letters get cut off"
At some point in the past year, the bottom margin of the x axis label has disappeared. The label is stuck to the bottom of the image without any space, and any letters that go lower the the standard line (such as "g" "j" "p" "q" "y") are cut off.

I'm not sure if this is because of newer ggplot version, or because of the refactoring from https://github.com/daattali/ggExtra/pull/26

[2017-04-26 19:57] crew102 commented on #49
Hmm, is this what you are talking about?

![temp](https://cloud.githubusercontent.com/assets/11220793/25453804/49261a84-2a98-11e7-88fe-fdc9edf15497.png)

It looks like there is zero margin around the x and y axis (both in refactored version and non. Note, this is the refactored version). I'm not getting any letters cut off in either version, though. Should we add padding around the plot?

[2017-04-26 20:05] daattali commented on #49
Looks like it might be an RStudio Viewer issue maybe? Running this code:

[code]

I get this in rstudio

![image](https://cloud.githubusercontent.com/assets/952340/25454336/1a100366-2a9a-11e7-86f2-cde7152bb053.png)

But if I export the image, then the bottom is not cut off. You don't get that in rstudio?

[2017-04-26 21:03] crew102 commented on #49
Incidentally I just updated to R 3.4.0 today and the RStudio version I run doesn't support the latest version of the R graphics engine that is used in 3.4.0. However, using graphics engine version 2 I still don't get cutoff:

![1](https://cloud.githubusercontent.com/assets/11220793/25456799/f641771e-2aa1-11e7-9e15-a9392aea235d.png)

I think it's probably the ggplot2 version that's doing it. What v

[2017-04-26 21:49] daattali commented on #49
I'm also at ggplot2 2.2.1

If we can't find the exact cause for these discrepancies easily, I wouldn't bother with it too much at this time. It's good to have this documented and we can come back to it later

[2017-04-28 01:37] #42 closed

[2017-05-02 22:07] crew102 commented on #49
I think I see what's going on here... This is using RStudio v 1.0.143:

![untitled](https://cloud.githubusercontent.com/assets/11220793/25641255/2cbd1fe6-2f61-11e7-983d-f27f0fa2e8b1.png)

Looks like when the plot is confined to the "Plots" tab as it is on the right hand side, the x-axis title is getting cut off. When you "zoom" (or print to a device - e.g., pdf, png) as is shown on the left hand s

[2017-05-02 22:22] crew102 commented on #49
Strangely enough the Plots tab in RStudio server doesn't seem to have the issue that the desktop version does - at least for the graphs I've looked at.

[2017-05-02 23:13] daattali commented on #49
I'm fairly convinced this is indeed an RStudio bug. Adding very minimal padding could be a good idea

[2017-05-03 01:10] crew102 opened #52 "Should ggMarginal suppress warnings when type = boxplot or density"
Depending on the type of marginal plot, `ggMarginal` will pass along one of these warnings:

1. `type = histogram` - i.e., `ggMarginal(data = mtcars, x = "mpg", y = "wt", type = "histogram")`
[code]
2. `type = boxplot` - i.e., `ggMarginal(data = mtcars, x = "mpg", y = "wt", type = "boxplot")`
[code]
3. `type = density` - i.e., `ggMarginal(data = mtcars, x = "mpg", y = "wt", type = "density")`
[cod

[2017-05-03 01:51] daattali commented on #52
I agree that the boxplot message should not appear, good point, it should
be suppressed. The density warning should not be happening at all though,
is it possible that the refactor introduced it? I had these few lines added
a while back that explicitly remove the 'fill' parameter when using a
density plot to avoid this message
https://github.com/daattali/ggExtra/blob/master/R/ggMarginal.R#L96-L99

[2017-05-03 02:05] crew102 commented on #52
Ah yes, I removed `extraParams[['fill']] <- NULL` b/c I thought it was intended to prevent failure of the function when there was a non-null fill (which maybe it was), and since I wasn't seeing it fail in those cases, I removed it. So the warning message for density is new to the refactor. I will add that logic back.

[2017-05-06 05:53] daattali commented on #52
Point 3 should be fixed with #40

Point 1 we agreed should remain

Point 2 I don't think was addressed in #40 ?

[2017-05-06 05:53] daattali commented on #49
Did you add this minimal bottom padding to #40 ?

[2017-05-06 05:59] daattali commented on #37
After the refactor of #40 I get an error when flipping and using boxplots:

[code]

[2017-05-08 17:45] crew102 commented on #52
I was going to address in separate PR

[2017-05-08 17:46] crew102 commented on #49
Going to address in separate PR

[2017-05-08 18:05] daattali commented on #49
Sounds good

[2017-05-08 18:06] daattali commented on #52
Sounds good!

[2017-05-10 19:26] ervanSTRI opened #53 "Remove external border when combining several graphs"
Hi,

I couldn't find the way not to plot the outer frame when combining graphs through ggplot2 + ggExtra + cowplot. I am not sure where I have to tell R, but suspect the issue to lie in ggExtra. Here is an example:
require(ggplot2)
require(cowplot)
require(ggExtra)

# Creat a graph
A <- ggplot(mpg, aes(x = cty, y = hwy, colour = factor(cyl))) +     geom_point(size = 2.5)

# Add marginal histogram

[2017-05-10 20:04] daattali commented on #53
I cannot reproduce. Using your exact code, I see this:

![image](https://cloud.githubusercontent.com/assets/952340/25918670/4223c670-359a-11e7-8be8-c134315b8d19.png)

ggExtra does not place any outline borders, so it's either cowplot or something in your system/rstudio

[2017-05-10 20:04] #53 closed

[2017-05-10 21:48] #38 closed

[2017-05-10 22:46] crew102 commented on #37
Should this be closed by the refactor? Also issue #43?

[2017-05-10 22:54] daattali commented on #37
I was going to ask you - when running the tests for the package, the tests for this are not run on previous ggplot2 versions , resulting in

[code]

messages. I assume that's on purpose - this feature should only be tested on latest version. Do you have any idea if CRAN gives any problems for skipped tests?

[2017-05-10 22:54] #37 closed

[2017-05-10 22:54] #43 closed

[2017-05-10 23:03] crew102 commented on #37
Looks like the reference figure that is used in that test never made into into the figs folder. I'll fix.

[2017-05-10 23:09] daattali commented on #20
@arvi1000 the package finished going through its major refactor, so if you know how to solve this, a PR would be welcomed!

[2017-05-12 07:04] arvi1000 commented on #20
Ok, I'll take a stab over the next week or so

[2017-05-15 00:07] #49 closed

[2017-05-15 17:03] crew102 commented on #45
I looked into this and it's only easy to fix it for the top marginal plot. I believe you would have to go deep into the internals of ggplot2 to get it working for both top and right marginal plots.

[2017-05-15 23:42] arvi1000 commented on #20
I don't think this will be a simple fix. One thing I notice is that `ggMarginal` uses the x/y data as returned by `ggplot2::ggplot_build()`. That means the marginal density plot/histogram will reflect any jitter, rather than being based on underlying value. Is that the desired behavior, or is jitter just an edge case?

[code]

[2017-05-16 01:22] #52 closed

[2017-05-16 01:28] daattali commented on #20
You're right, I hadn't considered that it can be non optimal for such cases. The main `ggMarginal` function does have access to the original data initially, so if that's the problem, we *can* retain both data sets

[2017-05-16 12:10] SebastianoCurreli opened #59 "Adding axis to marginal denstity plot and histograms"
Great package, anyway I think it could be useful to have the possibility to show the axis of the density plot/histogram, in order to be able to compare distributions of subsets of data (see pict):

![example_1](https://cloud.githubusercontent.com/assets/26114700/26105172/3a7f2c2e-3a41-11e7-9c2b-49de283ae6d4.png)

As you can see the maximum of each the density distribution is the same, therefore it

[2017-05-16 15:59] crew102 commented on #59
Can you provide a reproducible example of how you created that plot? To my knowledge, `ggMarginal` does not even have the ability to overlay marginal plots like the graph you displayed.

[2017-05-16 16:03] crew102 commented on #20
Wouldn't the expected behavior be for the marginal plots to show the density of points as they appear in the final scatter plot (i.e., with the jitter factor added)? I may not be interpreting this issue correctly...

[2017-05-16 16:05] daattali commented on #20
Yes, in the jitter case that really is the expected behaviour. I think @arvi1000 was using this as an example just to prove that the original dataframe is not what ggMarginal uses, and he made that point because for his purpose he needs it

[2017-05-16 16:46] crew102 commented on #20
Oh, OK, thanks for clarifying.

[2017-05-16 20:13] SebastianoCurreli commented on #59
Sure,
I'm not using the original dataset because it's quite big.
An example with some simulated data is as follows:

`set.seed(1234)
n = 500;
x1 = rbeta(n, .5, .4)
y1 = rnorm(n, 5, 2);
y2 = rnorm(n, 10, 1)
w = rbinom(n, 1, .5)
x2 = w*y1 + (1-w)*y2

df_ex1<-data.frame(x = x1, y = x2)
df_ex2<-data.frame(x = y1, y = y2)

p1 <- ggplot(df_ex1, aes(x, y)) + geom_point(color = "red") +
    theme_cowplot(

[2017-05-16 23:03] crew102 commented on #59
Ah, I see what you are saying. This would require passing theme options into `ggMarginal`, as well as some additional changes to the function itself which would not be easy. I can point you to where in the source code you would have to make changes if you want.

[2017-05-17 08:47] SebastianoCurreli commented on #59
That would be great!
I'll wait for your input then.

[2017-05-17 18:13] crew102 commented on #59
Take a look at some of the changes I made in this commit: 8f5e4ed72c823947e83372028b723a893d543ed1 When you rebuild `ggExtra` with these new changes and run the following:

[code]

...You should get something like this:

![rplot](https://cloud.githubusercontent.com/assets/11220793/26168687/0203b860-3b09-11e7-9abf-c5ccf3154081.png)

The alignment of the plots is nice in the example above, but you m

[2017-05-17 18:39] daattali commented on #59
Thank you Chris for your discussion
I completely agree, this kind of customization is out of scope for the
package

---
Dean Attali
President & CEO
AttaliTech Ltd
http://AttaliTech.com <http://attalitech.com>

On 17 May 2017 at 14:13, Chris Baker <notifications@github.com> wrote:

[2017-05-18 01:42] epruesse opened #60 "Histogram margin should be inside of legend"
Minimal example:

[code]
![image](https://cloud.githubusercontent.com/assets/2774474/26182902/88d013f0-3b38-11e7-985c-3321f7b7c2eb.png)

The legend and the y-axis histogram should be switched.

[2017-05-18 01:59] crew102 commented on #60
Hi @epruesse  -

The placement of the legend as it is shown above was actually intentional (i.e., not a bug). The idea was that `ggMarginal` should do its best not to change the scatter plot that the user passes in. If you're not a fan of the legend being placed between the histogram and scatter plot as shown above, you could try moving it to the bottom or left of the scatter plot:

[code]
![rplot

[2017-05-18 06:57] SebastianoCurreli commented on #59
Thank you Chris for your prompt help!

[2017-06-13 21:16] #60 closed

[2017-06-16 09:03] kassambara opened #61 "Adding marginal plots for grouped data"
Hi Dean,

Thank you for your work in ggExtra package, which makes it really easy to add marginal plots to ggplots.

It would be highly appreciated, if one can add marginal plots for grouped data as illustrated [here](http://dozenoaks.ghost.io/interesting-new-r-packages/) and [here](https://fr.mathworks.com/help/stats/scatterhist.html)

**Suggestion**: Improve `ggMarginal()`so that it reacts to the

[2017-06-16 15:57] daattali commented on #61
You are right, this would be useful to others as well. I unfortunately will probably not have time to look into this feature myself, but I would be happy to accept a pull request if someone wants to take the lead on this feature.

[2017-06-16 18:22] crew102 commented on #61
This would be do-able...It would be a little awkward given that we currently use `geom_line` for creating the density plots, which we would have to move over to `geom_density` so that we could fill the distributions with color (i.e., specify a `fill` param).

I actually think the API suggested by @kassambara is good. I.e., the call would look something like:

[code]

I think we'll want to require

[2017-06-16 19:25] daattali commented on #61
Yep, I already emailed the authors of packages using ggextra and told them about an upcoming cran release and to check the package for any regression bugs. We're good to go for CRAN. If you're thinking to have a go at this within the next few weeks then the cran release can wait for that.

API: is the idea that the user can also specify a different mapping than the one in the plot? And would using

[2017-06-16 19:27] #59 closed

[2017-06-16 20:05] crew102 commented on #61
Yeah, let's wait until I take a stab at implementing this feature

Technically, yes, but the mapping should use the same variable. For example, this would be OK:

[code]

But we would not be supporting this:

[code]

We wouldn't have to use `aes()` . I was planning on parsing the `aes` call and going from there, instead of using it directly (so it would actually be easier to not use it). Do you th

[2017-06-16 20:35] daattali commented on #61
I think if we're not actually using `aes()` then we shouldn't require the user to use it because they might assume that they can write anything that works for `aes()` in there. Just like `ggMarginal()` already has `x` and `y` params that accept a variable name, and it's not wrapped in `aes()`.

Would there be a technical limitation or any extra code to make something like

[code]

work? From an im

[2017-06-16 20:42] crew102 commented on #61
There would be two things that would make it awkward/more difficult if we tried to allow that:

1.  We would have to find a place to put the second legend
2. We would have to add another param for manually mapping the colors of `cyl` to whatever the user wants to use. If we have just have `colour = gear` in the call to `ggMarginal`, ggplot figures out the colors from any potential call to, say, `s

[2017-06-16 21:19] daattali commented on #61
Good point re: legend.

Would the only allowed values be either "colour" and "fill", or would it allow any kind of mapping? And what exactly would the enforcement on the variables be - would it only allow variables that already have some mapping in the original plot?

[2017-06-16 22:50] crew102 commented on #61
I think the only relevant values for this would be colour or fill...Can you think of any others? The enforcement would basically just check that the variable specified in `margMapping` either be mapped to color or fill in the scatter plot.  Also note that we wouldn't be supporting the `data` param for this feature (i.e., if the user wants to use `margMapping`, they have to pass in `p` instead of p

[2017-06-16 23:00] daattali commented on #61
If it's just colour and fill, then it feels wrong to have a parameter that claims to take a list of mappings when there are only 2 allowed elements.

What do you think instead of one of these two options, which would be the best for end users?

- Having two params like `colourGroup` and `fillGroup` (these might be terrible names - maybe colourVar and fillVar? I'm bad with naming things)
- Simply h

[2017-06-16 23:12] crew102 commented on #61
My first instinct was to do a combo of choices 1 and 2, so something like:

`ggMarginal(p = p, marginalGroup = list(colourGroup = TRUE, colourAlpha = .4, fillGroup = FALSE, fillAlpha = NA))`

With the reason being that, I think people will want to use different values for the alpha of the points vs the fill of the distributions. I don't have any strong feelings for whether we just have one `margin

[2017-06-16 23:14] crew102 commented on #61
Nvm, I forgot what I was planning to do for alpha, which was to just suggest that users specify it in the `xParams` or `yParams` argument...So I guess your option 2 would also work....I think I actually like that option the most, come to think of it!

[2017-06-17 02:17] daattali commented on #61
I don't follow the whole alpha thing. Why is alpha needed for the marginal plots? I think alpha should always be 1 for the marginal density/histogram.

In the marginal plot, would it make sense to have mappings for both colour and fill into different variables? I don't even know what that would look like

[2017-06-17 02:37] crew102 commented on #61
Alpha is needed (at least for fill) for the marginal plots because alpha = 1 will result in you not being able to see the distributions when they overlap. For example, in the example that kassambara posted, you get to see what the distributions look like across their entire support, even when there is another distribution that is overlapping. So we would want to set a default value for alpha somew

[2017-06-17 03:00] daattali commented on #61
Right, alpha <1 definitely needed. But let's just fix it at a value, doesn't need to be customized. You're right.

My second question was: would both colour AND fill be able to get a mapping? What would it look like when they both are used?

[2017-06-17 03:36] crew102 commented on #61
I think we should allow users to specify the alpha level, given that it will be difficult to choose a default that looks good for all different scenarios (i.e., many vs few groups, lighter vs darker cols, etc.).

Regarding your second question, that's what I thought you meant...We could potentially map a single variable to both fill and colour (but again, there would be no support for two differen

[2017-06-17 06:55] kassambara commented on #61
I think that fixing the default `alpha = 0.5` is a good option. Having the possibility to use  `colourGroup = TRUE` and/or `fillGroup= TRUE`  will be also appreciated.

You might have also noted that, when type = "boxplot",  the color/fill variable should be used as the x axis  variable in the marginal box plot.

![rplot02](https://user-images.githubusercontent.com/3313355/27250846-70287752-5339-1

[2017-06-18 06:49] kassambara commented on #61
I'm wondering, If it wouldn't be better, if the final format of ggMarginal looks like this:

[code]

Instead of this (more typing):

[code]

[2017-06-19 20:13] daattali commented on #61
@kassambara thank you for your input

@crew102 and I are discussing this, and it seems like the likely API will indeed be without a list.

A few more items we agreed on:

- alpha will be defaulted to 1, as there already is an implicit alpha in every ggmarginal call. You can pass `alpha` into the `...` argument, and it should also work for the case of grouped data. The documentation for this featur

[2017-09-12 07:45] Alanocallaghan opened #62 "Support for marginal violin plots"

[2017-09-12 07:50] daattali commented on #62
why did you close this issue? I think it's a good idea

[2017-09-12 07:55] Alanocallaghan commented on #62
I thought it had a large overlap with density plots, but on reflection there are additional features of a violin plot that would be useful.

[2017-09-12 08:00] daattali commented on #62
Yes it could be useful. It should be fairly straight forward to add support for it, I think it's essentially a copy of how boxplots work. If anyone wants to submit a PR, I'd happily accept

[2017-09-13 16:10] lavkan opened #64 "Adding y-axis labels on the marginal plots"
Hi,

I would like to add y-axis labels for the marginal plots. Is there a way to do it using ggMarginal command?

Thanks,
Lavanya

[2017-09-13 19:13] daattali commented on #64
There is no way to do that, the axis labels on the marginal plots are purposely explicitly suppressed. If you absolutely need them, you can modify the source code to NOT remove the labels

[2017-09-13 19:15] #31 closed

[2017-09-13 19:23] daattali commented on #61
@crew102 I think we left this unresolved - do you have time/would like to come back to this?

[2017-09-13 19:35] lavkan commented on #64
It makes sense to remove the axis that are shared, but what about the other axis of these plots? For example, the x-axis of the marginal plot on the top is removed.  However, I want the y-axis along with its units printed. I also want to add the y-axis label "count".  If there is a way to add this in the ggMarginal function, it would be greatly helpful for the users. Thanks.

[2017-09-13 20:03] crew102 commented on #61
Yeah, I've been meaning to get to it. I'll probably push something in the next 1-2 weeks.

[2017-09-14 05:15] daattali commented on #64
I suppose that could make sense for histograms. I don't think I will implement this parameter, but I will leave the issue open so that someone in the future could add support for it

[2017-09-28 02:22] kuriwaki opened #67 "ggMarginal applies to only first layer"
It seems like `ggMarginal` is sensitive to the order of layers; it tries to take the layer that was first added. Any way to guide it to a specific geom?

[code]

[2017-09-28 02:50] daattali commented on #67
That is indeed a bug. I'm surprised nobody has caught that until now. It happens because ggMarginal currently doesn't take the entire plot and add marginal plots to it, instead of tries to reconstruct the plot based on information scraped from it. Unfortunately I can't give you a workaround at the moment. Thanks for reporting!

[2017-09-28 19:54] crew102 commented on #67
I'll submit an updated PR for the marginal mapping feature once this is merged

[2017-09-28 23:14] #67 closed

[2017-09-28 23:16] daattali commented on #67
Hi @kuriwaki , this should be fixed now - you can thank @crew102 for doing that :)

[2017-10-01 03:32] kuriwaki commented on #67
thanks so much for the quick fix!

[2017-10-08 19:48] daattali opened #69 "Tests don't work on travis"
I don't think the visual tests ever ran on travis because the check for it was:

[code]

After fixing it to

[code]

the build fails at the tests https://travis-ci.org/daattali/ggExtra/builds/285191191

@crew102 sorry to summon you, but do you have an idea?

[2017-10-08 20:02] #62 closed

[2017-10-10 16:13] crew102 commented on #69
Yeah, they never ran on travis. They were getting run on my feature PR and failing, i think b/c ggplot2 doesn't get installed. not sure why though.

[2017-10-10 19:48] daattali commented on #69
Trying to recruit help :) https://twitter.com/daattali/status/917839201055526913

[2017-10-10 21:11] daattali commented on #69
@crew102 did you have to do any special setup to get the tests to run properly for you locally? Did you just install the latest version of the required packages, and running `devtools::test()` works as expected?

[2017-10-10 21:15] daattali commented on #69
@crew102 did you have to do any special setup to get the tests to run properly for you locally? Did you just install the latest version of the required packages, and running `devtools::test()` works as expected?

BTW travis seems to have one common error to what I was getting locally, about the `deps.txt` file: https://travis-ci.org/daattali/ggExtra/builds/286231357#L1277 lines 1277

[2017-10-10 22:29] crew102 commented on #69
Pretty sure it's an issue with changes in vdiffr. Specifically, the function that writes deps.txt changed recently:

https://github.com/lionel-/vdiffr/blob/1711da3407cda52372aea7f91d75badbdf90e312/R/cases.R#L109

As far as I can tell, you don't need to write deps.txt (it writes it for you). I just pushed a branch that should confirm this...I'm guessing that it won't pass for other reasons (i.e., t

[2017-10-10 22:44] daattali commented on #69
I've been trying to make sure I'm able to run the tests before merging this. If I can't resolve it, I'll merge before I can run the tests... are you not using the latest CRAN vdiffr?

[2017-10-10 22:51] crew102 commented on #69
I wasn't using the latest version of vdiffr when they were working for me a few weeks ago. I get the same error re: deps.txt when I test in a docker container using a similar environment to what travis uses...going back to the old version fixes the deps.txt issue, but tests still fail for what looks like several reasons.

[2017-10-10 22:53] crew102 commented on #69
I think we need `Sys.unsetenv('R_TESTS')` in there somewhere, so we can install ggplot2

[2017-10-10 23:16] daattali commented on #69
I tried doing that `Sys.unsetenv('R_TESTS')` earlier and then removed it. I'll add it again now that it's using old vdiffr

[2017-10-10 23:30] daattali commented on #69
Still getting errors, but they're more encouraging now: `figures don't match:`. That's a step in the right direction :)

[2017-10-11 21:31] crew102 opened #71 "Regression in getVarDF"
Looks like I introduced a bug when fixing #67. The following code now doesn't run during testing due to the new bug:

[code]

PR on the way.

[2017-10-11 21:50] daattali commented on #71
Is this the reason for the failing tests on travis now (that have always been failing but maybe now they'd pass)? Anyway, thanks for catching that

[2017-10-11 21:51] crew102 commented on #71
looking into it now

[2017-10-11 21:52] #71 closed

[2017-10-11 21:53] daattali commented on #71
travis will inform us soon enough https://travis-ci.org/daattali/ggExtra/builds/286744817

[2017-10-11 22:13] crew102 commented on #69
think i finally got it....do you mind if i integrate these changes in my next pr?

https://github.com/daattali/ggExtra/pull/66/commits/6f143727904659634613db2bb788e172ad933fc4

[2017-10-11 22:22] daattali commented on #69
This line that generates the expected figures: https://github.com/daattali/ggExtra/commit/6f143727904659634613db2bb788e172ad933fc4?w=1#diff-c37975432a5b2e463ef854f4e62cf9f6R56

That should be run **manually** only whenever you need to create new expected figs. But what's stopping it from being run every time the tests are run, I don't see it surrounded by an if?

I'd also consider adding to the RE

[2017-10-11 22:22] daattali commented on #69
Do you want to add these changes right now instead of in an existing PR, so that we see if they work instead of integrating them into a larger PR?

[2017-10-11 22:35] crew102 commented on #69
That file actually needs to get run each time the tests are run.. it calls functions that produce plots, which are passed to vdiffr while the tests are being run so that up-to-date versions of the *actual* figs can be created...these actual figs are then compared to the *expected* figs, which are created in the one-off file render-figs.R (which needs to get re-sourced each time new figs are added

[2017-10-11 22:52] daattali commented on #69
As long as the instructions for contributions are just 2-3 sentences, I'd prefer to add it at the end of the README. Only if it gets long I'd move it to a separate file. Yep please open a PR for fixing testing!

[2017-10-12 01:17] crew102 opened #74 "Update docs for contributing code to ggExtra"
Should be in README or CONTRIBUTING and cover:

* Adding unit tests under current vdiffr framework
* Style (I think just reference advanced R here?)

[2017-10-12 01:28] daattali commented on #74
If it's more than a few sentences, then we'd add a CONTRIBUTING file. For reference can see [shiny's CONTRIBUTING file](https://github.com/rstudio/shiny/blob/master/CONTRIBUTING.md)

[2017-10-12 12:59] Sim19 opened #75 "Histrogram not plotted with ggMarginal if the limits of the axes are widened"
Hi,

I guess due to a recent update of the package, there are a few bugs now, which weren't there before.
I'd like to make the axes of my scatterplot symmetric.
But when adding the histograms on the y and x axes with ggExtra:ggMarginal($GGPLOT, 'histogram'), the histogram of the axis that is enlarged the most, is not shown. Instead, two vertical bars are drawn (seemingly random).
When the limits o

[2017-10-12 13:58] crew102 commented on #75
Can you provide a reproducible example of the bug you are seeing? In other words, can you provide some example code that results in the unwanted graph that you are getting?

[2017-10-24 05:55] jonathan-g commented on #75
Here is a minimal reproducible case
[code]
![rplot02](https://user-images.githubusercontent.com/5304060/31926688-d13506ce-b855-11e7-9c0d-7ed66773ad11.png)
[code]

![rplot](https://user-images.githubusercontent.com/5304060/31926685-ce040586-b855-11e7-81ff-08a093308d0a.png)

[2017-10-24 06:11] jonathan-g commented on #75
P.S., If I do
[code]
Then the second plot comes out properly.

[2017-10-24 06:24] daattali commented on #75
Thanks, this does look like a regression bug. Although it looks to me like only the y axis is affected, and not the x axis, do you agree?

Here is a more minimal example showing the problem (using your code but more minimal for debugging):

[code]

[2017-10-24 14:04] crew102 commented on #75
Hmm, I wonder what is going on here. I'll take a look by week's end.

[2017-10-24 15:47] jonathan-g commented on #75
I agree that it only seems to affect the y-axis.

I like your more minimalist reproducible example. Nice chance for me learn about being more concise.

[2017-10-24 15:53] daattali commented on #75
Eliminate any package that is not 100% necessary, and use as few variables as possible - use hardcoded values instead to make it clear exactly what's going on :) Makes it much easier to debug

[2017-10-24 15:54] crew102 commented on #75
I'm going to add a unit test to the the upcoming pr later today...forgot to do that before i pushed.

[2017-10-26 03:21] #75 closed

[2017-10-26 03:22] daattali commented on #75
@Sim19 and @jonathan-g please make sure the fix works for you. You can thank @crew102

[2017-11-02 22:56] crew102 commented on #44
I set this up for my travis account many moons ago and forgot to mention it. I think we can close this.

[2017-11-04 00:59] crew102 opened #77 "Add Chris as an author"

[2017-11-07 08:08] #77 closed

[2017-11-07 08:22] #69 closed

[2017-11-07 08:24] daattali opened #79 "Add short section at end of README about how to contribute (mostly, how to add and run unit tests and test figures)"

[2017-11-07 08:46] daattali commented on #79
nevermind, this issue already exists

[2017-11-07 08:46] #79 closed

[2017-11-07 21:50] lukauskas opened #80 "scale_x_continuous with limits set causes `ggMarginal` to crash"
Have a look at the following snippet:

[code]

The way it stands right now it produces the following plot:

![image](https://user-images.githubusercontent.com/108413/32519624-a8ad9fc2-c40d-11e7-80f6-9b734b0357bb.png)

If you uncomment `ggMarginal` line, however, the following error is thrown:

[code]

and no plot is produced.

Wish I could help more, but this is all I have.

My R version is 3.4.1

[2017-11-08 00:40] crew102 opened #81 "ggMarginal does not apply scale transforms from scatter plot to marginal plots"
ggmarginal isn't applying scale transforms (e.g., limits, scale_reverse, scale_log, etc.) to the scales of the marginal histograms.

Example: When points are excluded from the scatter plot due to limits on the plot's range, the marginal plots do not reflect the in-range data. This occurs only for the opposite margin for which the limits are set (e.g., if you set the limits of the x-axis, the y mar

[2017-11-08 00:45] crew102 commented on #80
Hi @lukauskas, thanks for reporting this issue. This issue is related to #81, which I'll try to get to sometime this or next week.

[2017-11-08 02:23] daattali commented on #81
Interesting. I wonder how long this has been the case (always?)

I'm really glad the testing framework works well now on Travis so that whenever problems are fixed they won't pop up again

[2017-11-08 05:01] crew102 commented on #81
Tough to say for how long this has been happening. I assume it's hard to tell that anything is going on for most cases (i.e., when limits do not drastically change the set of rendered points)...For sure it will be nice to rely on tests moving forward, esp. given potential changes in ggplot2 internals and my tendency to refactor in a regression or two!

[2017-12-27 20:48] #44 closed

[2017-12-30 20:25] IndrajeetPatil opened #82 "Modifying axis tick marks for ggMarginal object"
Hi,

This is a figure generated with some custom code and now I want to modify the range and number of axis tick marks on the y-axis to reflect the underlying Likert scale (1-10).

![image](https://user-images.githubusercontent.com/11330453/34457106-f990878e-ed74-11e7-8609-3266326104b1.png)

Usually, I'd use something like-
`ggplot_object + coord_cartesian(ylim = c(1, 10)) + scale_y_continuous(bre

[2017-12-30 21:12] crew102 commented on #82
Can you give a fully reproducible example of code that results in the error you are talking about?

[2018-01-02 16:49] crew102 opened #83 "Latest version of ggplot2 make change to legend, requiring ggExtra to update test figure"
Specifically, ggplot2-latest/legend-and-title.svg no longer matches against the latest build of ggplot2, resulting in test failures of ggExtra. PR on the way.

[2018-01-03 07:02] daattali commented on #83
this is going to be an endless chase, isn't it :)

[2018-01-03 07:19] #83 closed

[2018-01-03 18:38] crew102 opened #85 "Tell github to not count lines in .svg files as code contributions"
The figs in tests/figs are kinda overinflating my contributions to ggExtra. I think we can use linguist/a .gitattributes file to tell github to ignore these files when counting code lines. PR on the way.

[2018-01-03 21:14] #85 closed

[2018-01-05 16:12] crew102 opened #87 "Reformat ggExtra code"
I recently discovered `styler` (http://styler.r-lib.org/), which makes it painless to format a bunch of code to be consistent with tidyverse styling (which I generally try to adhere to these days but not so much in the past). Would you mind if I run styler on ggExtra?
* Format test code too

[2018-01-05 22:28] daattali commented on #87
Awesome, I didn't know it was released on CRAN already. Yes, I 100% support that coding style!

[2018-01-06 00:04] crew102 commented on #87
Cool, I'll apply it to ggExtra and open up a pr after #66 is merged

[2018-01-11 13:00] jimoeppen commented on #9
The original issue raised by zakahmad in 2015 still seems to be present, without using geom_smooth.  If the default axis limits are over-ridden, the x-axis marginal plot aligns correctly with the data, but the y-axis marginal plot does not.  Here is some code to illustrate the situation [R 3.4.3; ggExtra_0.7; ggplot2_2.2.1]:

df <- data.frame(x = rnorm(500, 50, 10), y = runif(500, 0, 50))
p1 <- gg

[2018-01-11 13:09] jimoeppen opened #88 "ggMarginal fails if geom_abline() called before geom_point()"
A legitimate ggplot graph causes ggMarginal(...) to fail if geom_abline(...) is called before geom_point(...) with the error

Error in (function (..., row.names = NULL, check.rows = FALSE, check.names = TRUE,  :
  arguments imply differing number of rows: 0, 1

If geom_point(...) is called before geom_abline(...) then it works.  Here is some example code [R 3.4.3; ggExtra_0.7; ggPlot2_2.2.1]

df <

[2018-01-11 15:39] crew102 commented on #9
@jimoeppen , the problem with using limits with ggMarginal that you mention is related to #81.

[2018-01-11 15:40] crew102 commented on #88
Thanks for reporting this @jimoeppen. I think the fix should be straightforward. I'll look into it.

[2018-01-11 16:11] jimoeppen commented on #9
Thank you for the rapid response, and for all the work that goes into ggExtra.

I think #81 implies that setting limits on x affects the y marginal, and vice-versa.  As far as I have seen, the x marginal responds correctly to the x limits.  It is only the y marginal that does not reflect user-specified y axis limits.

Best wishes

Jim Oeppen

Associate Professor
Biodemography Unit
Department of Pu

[2018-01-12 01:25] crew102 commented on #9
Hi @jimoeppen, both axis are actually problematic. You can see both graphs in #81 for this, or just check out the below code, in which the x marginal plot is wrong and we don't even get a y marginal plot.

[code]

The bigger issue mentioned in #81 is that ggMarginal is not using the correct range for the marginal plots.

[2018-01-12 03:22] crew102 commented on #88
This issue is fixed in the latest dev version of `ggExtra`. You can install it with `devtools::install_github("daattali/ggExtra")`

[2018-01-12 05:27] daattali commented on #88
@jimoeppen as Chris said, you need to install the github version. If you don't need it right away, you can wait a few weeks until `ggExtra` is released to CRAN

[2018-01-20 20:43] daattali commented on #82
@IndrajeetPatil are you still getting this problem? If so, can you please show us the exact code that causes this problem?

[2018-01-20 20:43] daattali commented on #88
@jimoeppen closing this issue since it's fixed

[2018-01-20 20:43] #88 closed

[2018-01-22 15:30] IndrajeetPatil commented on #82
Yes, sorry for the delay. Here is a reproducible example. Sorry for the long code, but this is the custom function I am working with, so maybe that's where something is going wrong.

[code]

![](https://i.imgur.com/dheED1U.png)

[code]

Created on 2018-01-22 by the [reprex
package](http://reprex.tidyverse.org) (v0.1.1.9000).

[2018-01-22 15:53] crew102 commented on #82
Hi @IndrajeetPatil, the problem here is that you're trying to modify a ggMarginal plot with `+ coord_cartesian(xlim = c(1, 10)) + scale_x_continuous(breaks = seq(1, 10, by = 1))` (you can't modify a plot created by ggMarginal in the same way you can with those created by ggplot2). If you want to modify the scatter plot with something like  `+ coord_cartesian(xlim = c(1, 10)) + scale_x_continuous(b

[2018-01-24 18:55] TarjinderSingh opened #89 "Rendering inline in rstudio"
Hello!

When I use ggMarginal with knitr in rmarkdown, it appears that the plot does not show inline or in the knited html document. However, when I run the ggMarginal code in the Console, it appears. Are there any settings I need to tweak to make it appear with rmarkdown?

Thanks!

[2018-01-24 19:04] daattali commented on #89
That's strange. I don't have any problems with ggMarginal in rmarkdown. Here's an example simple document:

[code]

Can you show an example when it doesn't work?

[2018-01-26 01:27] TarjinderSingh commented on #89
Ah, when I run the example you have, it actually shows in the knited html document. However, when I am running the exact same script, it doesn't show inline as a rmarkdown notebook document. This is the figure that usually appears directly about the code chunk. If I add a `plot(ggMarginal(p))`, then it shows but the theme is not quite right. Does this work for you too?

Thanks!

[2018-01-26 03:18] daattali commented on #89
Oh I see what you mean. I'm not sure how RStudio renders plots there. The plot renders fine in the Viewer pane so I'm not sure why the notebook feature doesn't know how to render it. Maybe it works differently and requires some special properties in order to make a plot. Perhaps someone from RStudio (@kevinushey maybe?) could tell us what's the requirement to make a plot work in the rmarkdown note

[2018-01-29 23:14] kevinushey commented on #89
To be honest, I'm not sure why this doesn't work in R Notebooks. R Notebooks work by generating a graphics device, letting any code write to that graphics device during chunk execution, and then figuring out what plots were generated at the end of execution.

My best guess is that the plots generated by `ggExtra` need to explicitly create a new graphics device (with `grid.newpage()`) before writin

[2018-01-30 00:38] crew102 opened #90 "Refactor ggMarginal to use R6"
I think ggMarginal needs another refactoring. Would you be amenable to ggExtra importing R6 if I wanted to use it when re-working ggMarginal?

Also needs more thorough commenting throughout code (which I've been neglecting), given how much seemingly random stuff happens in ggMarginal.

[2018-01-30 02:24] daattali commented on #89
@kevinushey yep that's a correct guess https://github.com/daattali/ggExtra/blob/4468f2113ecdd4d4fa2f8d380f843d2ac917b4db/R/ggMarginal.R#L191-L194

If you happen to know how to fix that please let us know. I'm fully aware that this week is super busy (as is any other week) so no worries if you can't get to it

[2018-02-05 09:38] daattali commented on #90
R6 is pretty good and lightweight, so there's nothing against it. What would be the main benefit, to save state so that there aren't a ton of variables being constantly passed around?

[2018-02-05 14:56] crew102 commented on #90
Yep, exactly

[2018-02-05 18:21] daattali commented on #90
Sure!

[2018-02-08 18:58] daattali opened #91 "Add grouped marginal feature to the README and shiny app, to showcase their use"

[2018-02-12 21:23] IndrajeetPatil commented on #82
You can close this thread by the way.

[2018-02-14 14:49] daattali opened #92 "Problem reported by user: ggMarginal produces very different graph than it did previously"
A user claims their JSS paper got rejected partly because a figure they generated cannot be reproduced. Here is the old image they had:

![image](https://user-images.githubusercontent.com/952340/36210339-34ae557e-116c-11e8-9e23-d8881ad2ed34.png)

And the new image that is incorrect when using new ggExtra (I don't know what version they used before):

![image](https://user-images.githubusercontent.

[2018-02-14 15:34] crew102 commented on #92
Probably related to #81 and friends. I should be able to close today.

[2018-02-15 16:28] crew102 commented on #61
Closed?

[2018-02-15 16:53] daattali commented on #61
Indeed! @kassambara this exists now

[2018-02-15 16:53] #61 closed

[2018-02-15 23:28] daattali opened #93 "Issues with groupColour/groupFill when `colour` or `fill` param are supplied"
When supplying a `colour` it's not a huge deal, but essentially is overwrites the colour mapping:
[code]

![image](https://user-images.githubusercontent.com/952340/36286405-9c02c5c2-127d-11e8-8bae-6f5424bdc706.png)

Same thing happens with `fill`.

But when using both together, it looks like the the grouping is completely for fill:

[code]

![image](https://user-images.githubusercontent.com/952340

[2018-02-15 23:31] #82 closed

[2018-02-15 23:39] daattali opened #94 "Reversing a scale does not cause the marginal plots to reverse"
Could be related to #81 et al

[code]

![image](https://user-images.githubusercontent.com/952340/36286852-8bfb9774-127f-11e8-8d75-413172d0de91.png)

![image](https://user-images.githubusercontent.com/952340/36286842-845236f4-127f-11e8-870d-076a903c40ba.png)

[2018-02-15 23:41] daattali commented on #93
I think when groupColour is used, `colour` should always be set to NULL (even if it's provided) and same with groupFill

[2018-02-15 23:52] crew102 commented on #94
Yep, related to #81. I just put together a fix for #81 that only included a
fix for limits issues, and was actually wondering if something like this
occurs as well. It's happening b/c the scale from the scat plot isn't
getting applied to the marginals. I think I have a more general fix that
will fix this and #81

On Feb 15, 2018 6:39 PM, "Dean Attali" <notifications@github.com> wrote:

[2018-02-15 23:55] crew102 commented on #93
Agreed re: preference for group col/fill..we should probably throw a
warning, then null out the col/fill...the second case u gave is less
straightforward...I'll have to look into the code to see what's causing it.

On Feb 15, 2018 6:41 PM, "Dean Attali" <notifications@github.com> wrote:

[2018-02-16 00:25] daattali commented on #93
Regardless of the cause, it would be fixed by NULLing colour/fill when
their group* argument is TRUE. I'd go with a message rather than a warning

---
Dean Attali
President & CEO
AttaliTech Ltd
http://AttaliTech.com <http://attalitech.com>

On 15 February 2018 at 18:55, Chris Baker <notifications@github.com> wrote:

[2018-02-16 01:59] daattali commented on #93
And it needs to support users using either of `col` `color` `colour`...

[2018-02-16 02:54] #91 closed

[2018-02-20 03:34] jessiepluto commented on #9
I just encountered this same issue -- ggMariginal histograms are not lining up with the y-axis correctly after adjusting the limits. Is there any update on a solution?

[2018-02-20 04:25] daattali commented on #9
A huge feature was just added, the fix for this is next

[2018-02-23 01:33] daattali commented on #93
Yes, closed, no need to make a weird workaround!

[2018-02-23 01:33] #93 closed

[2018-02-27 19:14] crew102 opened #96 "Forgot to add tests for grouping feature to runMarginalTests"
I had added the functions that create the expected figs as well as rendered the expected figs, but I forgot to add the function calls to `runMarginalTests`.

[2018-02-27 20:57] #96 closed

[2018-02-27 23:52] crew102 commented on #81
I'm close to having a solution for this, but I've got one issue that I can't seem to figure out. Hoping you can help. The issue is related to the one discussed at https://github.com/tidyverse/ggplot2/issues/1651 and https://stackoverflow.com/questions/37876096/geom-histogram-wrong-bins, but I'm still not seeing a solution.

In short, the problem is that the right-most bin present in marginal plot

[2018-03-05 22:53] sbrown-UniOfAdelaide opened #98 "Marginal plots scaled by row/column statistics"
Hi,
I was wondering if it's possible to get the marginal histograms scaled by (for example), the median of each row/column in a plot? Using rastervis::levelplot it's possible to scale the marginal plots by row/column mean/median/max/min etc., this would be really helpful if it was possible to do the same thing with ggExtra.

[code]

[2018-03-06 03:15] crew102 commented on #98
Hi @sbrown-UniOfAdelaide , thanks for suggesting this new feature of ggExtra. In my mind it is beyond the scope of the package for `ggMarginal` to handle a tile plot. It would also require quite a bit of work to implement this, as much of the code inside`ggMarginal` relies on the assumption that the main plot is a scatter plot.

I suggest taking a look at the `gridExtra` package as well as the ans

[2018-03-07 05:10] daattali commented on #81
I've looked into this a lot this week and can't haven't gotten anywhere further than you have. Is this still a known issue in ggplot? Because the issue on their repo was closed with a commit in Sept 2016, so do you think they don't know about this issue?

[2018-03-07 05:15] daattali commented on #98
@sbrown-UniOfAdelaide ggMarginal is specifically for creating marginal plots of histograms. What you are requesting may indeed be a great feature but is out of scope here. You're welcome to submit a PR to support these types of plots, but otherwise it will not get implemented. I'm closing this issue but you're welcomed to submit a PR!

[2018-03-07 05:15] #98 closed

[2018-03-10 01:58] crew102 commented on #81
Hey Dean, I'm not sure whether this is an issue with ggplot or whether it's my lack of understanding of `geom_histogram()`. I've posted a question on SO to hopefully get to the bottom of it https://stackoverflow.com/questions/49204576/values-getting-dropped-from-ggplot2-histogram-when-specifying-limits

[2018-03-11 18:09] IndrajeetPatil opened #99 "Subtitle position changes based on presence or absence of title"
Hi,

I have a wrapper function around `ggExtra::ggMarginal()` in my package (it just adds results from statistical tests) and I noticed some unusual behavior with this function: It changes the position of the `subtitle` based on whether a `title` is present or not. Is this desired behavior? Is it possible to **always** have the `subtitle` on top of the marginal plots? Otherwise, at least in my vie

[2018-03-11 18:27] daattali commented on #99
Hi Indrajeet,

I haven't looked through this issue yet, but could you please post a more
isolated example, that only uses ggMarginal code and doesn't use your
wrapper functions? It would be more indicative of a problem with ggmarginal
if you can show a problem using only ggmarginal code

---
Dean Attali
President & CEO
AttaliTech Ltd
http://AttaliTech.com <http://attalitech.com>

Want to improve y

[2018-03-11 18:45] IndrajeetPatil commented on #99
@daattali Sure!

Here is a minimal example with **only** the `ggMarginal` code. You can see that the same issue can be seen from this example.

[code]

![](https://i.imgur.com/gaPO1VP.png)

Created on 2018-03-11 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-03-12 02:01] crew102 commented on #99
Yeah, this behavior makes sense, given that we only test for whether a title is present (and not whether a subtitle is present).

https://github.com/daattali/ggExtra/blob/6521c1365e8b17cc40511faf7c3c04ac2d840273/R/ggMarginal.R#L124

Should be an easy fix for the next release.

[2018-03-12 02:06] IndrajeetPatil commented on #99
Awesome, thanks! Looking forward to the next release.

[2018-03-12 15:15] crew102 opened #100 "Refactor tests"
* Break `funList` into  pieces to make the grouping of tests clearer
* have the code in test-ggMarginal check that all of the figs in tests/figs have a corresponding function in `funList` (in case you forget to add call to a function in test-ggMarinal)
* `runInternalTestsApply()` only needs to test under latest version of ggplot2
* Make styling consistent with new tests added that check fix to #81

[2018-03-15 21:12] skanskan opened #102 "Feature request type="barplot""
Please add the option for ggMarginal, type="barplot".
With "histogram" we can't use discrete variables.

[2018-03-15 21:19] crew102 commented on #102
Hi @skanskan, by "discrete variables" are you talking about factor/character variables? `ggMarginal()` requires that the user pass in a scatter plot for the main plot, and since a scatter plot requires a numeric x and y aesthetic (i.e., not a factor/character variable for x and y aesthetic), it would not be possible to create a marginal distribution of a factor variable.

[2018-03-15 23:30] skanskan commented on #102
Yes I'm talking about a factor variable.
I'm creating a geom_tile() plot with two factor variables and I'd like to add marginal barplots.

[2018-03-16 13:03] crew102 commented on #102
A similar feature request was made in #98. @skanskan , you can refer to the comments mentioned in that thread for why this feature will likely not be implemented.

[2018-03-28 04:28] daattali commented on #102
@skanskan this feature will not be supported, from the reasons @crew102 pointed out

[2018-03-28 04:28] #102 closed

[2018-03-28 06:09] daattali commented on #9
fixed

[2018-03-28 06:09] #9 closed

[2018-03-28 06:09] daattali commented on #80
fixed

[2018-03-28 06:09] #80 closed

[2018-03-28 06:09] daattali commented on #81
fixed by @crew102

[2018-03-28 06:09] #81 closed

[2018-03-28 06:09] daattali commented on #92
fixed by @crew102

[2018-03-28 06:09] #92 closed

[2018-03-28 06:09] daattali commented on #94
fixed by @crew102

[2018-03-28 06:09] #94 closed

[2018-03-29 17:19] #99 closed

[2018-04-02 15:19] crew102 opened #104 "Organize ggMarginal helpers"
I originally had this under #87 but i think it should be kept separate. I would like to:

* reorder functions in ggMarginalHelpers.R so they appear in the order in which they are called
* split ggMarginalHelpers.R out into two files - ggMarginal-helpers-genFinalMargPlot.R (functions that create the marginal plots) and ggMarginal-helpers-misc (all other helper funs...e.g., `addTopMargPlot()`).

[2018-04-03 07:49] daattali opened #105 "All file paths must be under 100 characters"
The package is not being accepted into CRAN because some image file paths are over 100 chars long.

https://win-builder.r-project.org/incoming_pretest/ggExtra_0.8_20180403_085949/Windows/00check.log

[2018-04-03 13:34] crew102 commented on #105
We could just not include all of tests/ in the tarball uploaded to cran, as the package isn't tested on cran. Either that or shorten those paths. Do you have a preference?

Also, can we wait until #104 and #87 are closed before resubmitted to CRAN? I should be able to close those this week.

[2018-04-03 15:12] daattali commented on #105
Good call - as long as they're still tested on travis, they can be omitted
from cran. Sure can wait

---
Dean Attali
President & CEO
AttaliTech Ltd
http://AttaliTech.com <http://attalitech.com>

Want to improve your Shiny skills? Try my new interactive, online video
course *Shiny Case Studies*
<https://www.datacamp.com/courses/building-web-applications-in-r-with-shiny-case-studies>

On 3 April 201

[2018-04-03 15:20] #87 closed

[2018-04-03 15:45] #105 closed

[2018-04-03 15:55] #104 closed

[2018-04-10 03:34] giuseppec opened #109 "bug in v0.8: ggMarginal with geom_line"
I think you introduced a bug:

[code]

It used to work in v0.7. Also, switching geom_point() with geom_line() will make it work again.
However, this still seems to be a bug that should be fixed for the next version.
I guess people already use ggExtra without being aware that the order of `geom_point` and `geom_line` matters. Would be great if you could fix this soon.

[code]

[2018-04-10 03:58] giuseppec commented on #109
I've looked at `scatDF` and basically the `fill` column was missing.
Maybe you could add some more unit tests for several dataframe preprocessing stuff to avoid such (critical) bugs in the future?

[2018-04-10 04:29] daattali commented on #109
Thanks for the report - I agree that's a bad bug to introduce! We do make every attempt possible to not introduce any regressions. Every time a bug is found, a unit test is added to ensure similar things won't happen. Will let you know when this is addressed.

[2018-04-10 19:31] daattali commented on #109
Looks like this is happening because these lines:

https://github.com/daattali/ggExtra/blob/e97e2c01a7b132604e9c23fc1dbdf5a0f05769e4/R/ggMarginal-helpers-genFinalMargPlot.R#L77-L87

don't correctly pick out the geom_point layer. It only looks to see if there is both an x and a y. In the code provided by OP, the `geom_line()` does have x and y, so the code incorrectly treats it as the geom_point ju

[2018-04-10 19:40] daattali commented on #109
Perhaps changing the vapply to `scatPbuilt$plot$layers, function(x) class(x$geom)[1] == "GeomPoint"` would solve it

[2018-04-10 20:40] crew102 commented on #109
yeah that's the chunk responsible for the problem. I put together a similar fix last night but found some problems with our tests, so I need to update the test figs/code before opening a pr for this issue.

[2018-04-11 17:00] crew102 opened #111 "Tests should fail when a fig doesn't exist in tests/figs"
vdiffr does not signal a test failure (only throws a warning) if a figure does not yet exist in the tests/figs dir, which was resulting in some tests being skipped on Travis but our tests still passing. I'm going to change this behavior in an upcoming PR so that if the expected test fig doesn't exist, we'll get an error instead of a warning. This should result in Travis failure.

[2018-04-11 17:01] crew102 opened #112 "Expected test figs in tests/figs never got updated after shortening file names"
The first time we came across the issue re: file names being too long for cran, we shortened the file names by changing the plot titles in tests/testthat/helper-funs.R (e.g., marg-plots-reflect-axis-limits-for-histograms.svg became x-axis-limits-for-histograms.svg...). This happened in
3d20d24. However, I forgot to update the expected figs in tests/figs after doing this. Tests have subsequently be

[2018-04-11 17:26] crew102 commented on #111
all tests were actually getting skipped b/c of ignoring tests dir via rbuildignore

[2018-04-11 17:30] crew102 opened #113 "all tests are getting skipped on cran b/c of ignoring tests dir via rbuildignore"

[2018-04-11 17:32] crew102 commented on #105
can we re-open? the solution of ignoring tests dir doesn't work b/c we test against the built package on travis, which means we run tests on a package which doesn't include tests dir

[2018-04-11 17:35] #111 closed

[2018-04-11 17:39] crew102 commented on #105
actually i'm just gonna close this again (along with a few other few issues i just opened) in a single pr, so i wouldn't both re-opening

[2018-04-11 21:08] daattali commented on #105
Good catch...

[2018-04-17 09:39] faustovrz commented on #89
From Henrik Seidel  comment in:

https://support.rstudio.com/hc/en-us/community/posts/239529128-Notebooks-grid-newpage

First store the pheatmap plot as a variable without actual plotting, and then use grid.newpage() and grid.draw() in a new chunk:

[code]

[code]

[2018-04-17 22:16] daattali opened #115 "Consider removing `data` `x` `y` parameters from ggMarginal()"
Following the discussion in https://github.com/daattali/ggExtra/pull/110

The `data` `x` `y` parameters are an old artefact that resulted from creating this package/function initially without any long term vision. They cannot be used correctly in anything besides very simple plots. They don't add any features, they're purely for convenience and save the end user one line of code. I'm not even sure

[2018-04-17 22:25] daattali commented on #109
this issue can be fixed now

[2018-04-17 22:26] daattali commented on #89
@faustovrz Thanks for the info!  @TarjinderSingh you can try what he suggested

[2018-04-17 22:53] crew102 commented on #115
I don't think we should deprecate these params. I don't think they were that bad of a design decision (though I agree that ideally they wouldn't exist), at least not enough to warrant breaking changes.

[2018-04-20 01:08] #109 closed

[2018-04-20 08:28] #89 closed

[2018-05-04 12:51] DeLaRiva commented on #75
Hi, this issue isn't solved, right? At least for me it seems to be open?

[2018-05-04 14:38] crew102 commented on #75
Based on the color of the histograms in your example, it looks like you may be using an old version of ggExtra. Try updating it with `devtools::install_github("daattali/ggExtra")`.

[2018-05-08 14:47] IndrajeetPatil opened #117 "Error in ggplot2::aes_string(x, y)"
I am not sure if I am doing anything wrong, but the `ggMarginal` function doesn't seem to be working properly when used with the `data` argument. Here is a fully reproducible example:

[code]

![](https://i.imgur.com/bPd9piw.png)

[code]

Created on 2018-05-08 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-05-08 16:37] daattali commented on #117
The x and y parameters should be strings, you need to put quotes around them

On May 8, 2018 10:47, "Indrajeet Patil" <notifications@github.com> wrote:

[2018-05-08 17:02] IndrajeetPatil commented on #117
Sorry, so stupid. Tidyverse has spoiled me.

[2018-05-08 17:02] #117 closed

[2018-05-25 00:34] IndrajeetPatil opened #118 "Showing both density and histogram marginals in the same plot"
In python, there is an easy way to plot both the density and marginal distributions on the axes simultaneously (https://seaborn.pydata.org/generated/seaborn.jointplot.html).

Will this be possible to implement in `ggExtra` as well?

![image](https://user-images.githubusercontent.com/11330453/40520097-a2df5de0-5f91-11e8-9b61-6e8918b4d0cb.png)

[2018-05-25 00:58] crew102 commented on #118
The feature you're describing should be easy enough to add. Question is,
what should be the syntax for making such a call to ggExta? Thoughts
@daattali?

On Thu, May 24, 2018, 8:34 PM Indrajeet Patil <notifications@github.com>
wrote:

[2018-05-25 01:05] IndrajeetPatil commented on #118
Ha, I was thinking of the same. In my package, for one function, you can create box and/or violin plots and so the possible options are `"box"`, `"violin"`, and `"boxviolin"`, so I was thinking something similar might work.
I know this is silly, but maybe a portmanteau like `"densigram"`?

People are coming with new names to unusual plots all the time (https://orchid00.github.io/tidy_raincloudplot

[2018-05-25 01:32] crew102 commented on #118
Hmm, yeah, I think I'd have to agree with you re: coming up with a name for the histogram/density combined plot. I was initially thinking that it would be more natural to instead specify both plot types to `type` (e.g., `type = c("histogram", "density")`), so that the syntax would be extensible to other pairings of plot types  (e.g., `type = c("histogram", "violin")`). However, I think that the hi

[2018-05-26 14:33] daattali commented on #118
@IndrajeetPatil thanks for the suggestion, that's a great idea! Regarding the name, I favour having a single name rather than a vector, and `densigram` sounds good to me. The only thing that immediately comes to mind when trying to think of potential problems is that it might be awkward to deal with showing both types as different colours. I'm not sure what the parameters for that would look, and

[2018-05-26 14:46] IndrajeetPatil commented on #118
Hmm, fair enough. That's a tricky issue indeed.

But just to get this functionality off the ground, one option might be to not give flexibility for the density line being plotted. That is, the `xfill`, `yfill`, etc. arguments will always be passed to `histogram`, while the `density` plot line (without any fill) will always be `solid` (linetype) and `black` (color)?

Better to have something more r

[2018-05-29 14:55] crew102 commented on #118
Technically they can both be the same `colour` and you'd be fine - it's only when the `fill` of the histogram is the same as the `colour` of the density that you wouldn't be able to see overlap. Also note that the default `colour` and `fill` of histograms is grey, and the default `colour` of density plots is black, so unless the user changes one of these then they should be OK.

[code]

![](https:

[2018-05-29 15:26] crew102 commented on #118
Actually, I forgot about this: https://github.com/rstudio/rstudio/issues/2196, so maybe suggesting `alpha` to users would not be wise here.

[2018-05-29 17:08] crew102 opened #119 "tests are busted again"
some are getting skipped b/c of issues with underscores in figure names, some are failing b/c of issue with unloading packages here:

https://github.com/daattali/ggExtra/blob/62299ffc833a7535cbd2e1e3d2a52bdc71be67cd/tests/testthat/helper-funs.R#L144-L146

[2018-05-29 20:28] daattali commented on #118
Thanks for the image references. I think the top one (where there's grey and black) is fine, but I would argue that the bottom one is not great, you can deduce where the line goes, but it looks awkward, half the line is hidden. And if there was just one observation in each bucket in the histogram, then I think 90% of the line would be invisible. In my opinion the colours would have be different. A

[2018-05-29 20:39] crew102 commented on #118
The second image was my example of the problematic case, where the user wants to have the same histogram `fill` as their density `colour`. I think the most common case will the case in the first image, where they aren't specifying any colours or fills.

[2018-05-29 20:40] daattali commented on #118
Ah ok good, I thought you were trying to say that the second image is fine!

[2018-06-15 17:43] TarjinderSingh commented on #89
@daattali It works! Thanks!

[2018-06-21 16:38] #119 closed

[2018-07-06 22:21] #118 closed

[2018-07-06 23:11] IndrajeetPatil opened #123 "preventing fill for density plot in densigram marginal"
Thank you so much for introducing the `densigram`! Really stoked about using it.

I was trying it out, but I feel like it is still missing something:
In particular, it looks good only with the (black-and-white) defaults and loses its allure once `fill` arguments are provided.

For example,
[code]

![](https://i.imgur.com/nj3kWq2.png)

To go back to the python example I had shown in my original iss

[2018-07-07 00:14] crew102 commented on #123
I guess we could override the `fill` param to be `NULL` for the density plot when the user choses `type = "densigram"`. That would result in the plot looking like the one you showed. I don't feel particularly strongly about it either way. If @daattali also doesn't have strong feelings about it then I'll add this behavior in.

More generally, I was thinking people would use the `alpha` param when u

[2018-07-08 16:12] daattali commented on #123
When I was checking it out I did indeed use alpha, but I suppose that does add an additional requirement on the user. It might be simpler to just remove the fill

[2018-07-17 04:47] #123 closed

[2018-07-18 20:39] crew102 opened #125 "Run ggMarginal tests under ggplot2 version 3.0.0"

[2018-07-20 23:19] crew102 opened #126 "R CMD check results in NOTE"
`geom_histogram2: no visible binding for global variable ‘..density..’`

[2018-07-24 14:29] #125 closed

[2018-08-03 21:37] Futats commented on #75
I have the same issue DeLaRiva reported, even after updating using `devtools::install_github("daattali/ggExtra")`.
It appears that `ggMarginal()` doesn't scale with `coord_cartesian()`, though it scales properly with `xlim()` and `ylim()`. Is this intentional?

Here's an addendum to the earlier example:

![image](https://user-images.githubusercontent.com/42077756/43666867-781353ac-972a-11e8-8c27-6

[2018-08-06 14:48] crew102 commented on #75
It wasn't intentional, and is relatively easily fixed. The only question from my point of view is, whenever `coord_cartesian()` is used in the scatter plot, should the marginal plots be created using all of the data,  or only the data that is shown in the scatter plot?

From `?coord_cartesian`:

[code]

For example, if the user uses `coord_cartesian(xlim = c(5, 20))` in their scatter plot, should

[2018-08-15 16:39] crew102 opened #128 "Marginal plots don't reflect axis limits made using coordinate system (e.g., coord_cartesian())"
As mentioned by @Futats in #75

[code]

![](https://i.imgur.com/TwJIHmH.png)

Created on 2018-08-15 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-08-18 15:35] IndrajeetPatil commented on #126
This should help get rid of this note-

[code]

[2018-08-18 17:00] IndrajeetPatil opened #129 "any possibility of not changing class of plots"
I have a wrapper function around `ggExtra::ggMarginal` (`ggstatsplot::ggscatterstats`: https://indrajeetpatil.github.io/ggstatsplot/articles/ggscatterstats.html) in my R package. All the other functions in this package output objects of type `ggplot`, which is really convenient. Because although, as a developer, have chosen some defaults, people don't lose any flexibility afforded by `ggplot2` as

[2018-08-20 15:16] crew102 commented on #129
The short answer is no, what you're asking for isn't possible. The class of the final object ("ggExtraPlot") is actually not the problem here, it's the object itself (the object is a `gtable`, not a ggplot object):

[code]

![](https://i.imgur.com/6mu2BAq.png)

[code]

Created on 2018-08-20 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2018-08-20 15:17] crew102 commented on #126
@IndrajeetPatil, can you open a PR with this added somewhere in https://github.com/daattali/ggExtra/blob/master/R/ggMarginal.R?

[2018-08-20 15:28] IndrajeetPatil commented on #126
You can literally copy this code into a new `global_vars.R` file in the `R` folder and that's that!

I have never forked a repo, so a bit wary of doing that.

[2018-08-20 18:19] #129 closed

[2018-08-20 23:51] daattali commented on #126
@IndrajeetPatil we can do that it's not a problem. But because it is such a trivial change, it would be a great first experience at learning how the open collaboration works on github. Are you sure you don't want to look into making the PR yourself? Thanks for the tip regradless

[2018-08-20 23:52] daattali commented on #126
I should add: you can't do any damage. You can try and learn from the process, but no damage will be done

[2018-08-20 23:56] IndrajeetPatil commented on #126
Thanks for the encouragement :)

Created a PR; let's see if this works.

[2018-09-29 02:57] crew102 commented on #128
Turns out this is a really hairy issue. I think it can be fixed, but it leads to some *very* confusing code, so much so that I'm not sure it's worth it to fix.

[2018-10-12 23:17] peterolejua opened #131 "Marginal boxplot to histogram not working"
Hello I want a marginal boxplot to a histogram. Like a year ago I could do it with the same code below

[code]

![image](https://user-images.githubusercontent.com/7348041/46897763-7293f100-ce4a-11e8-90a0-42ad7b382c2e.png)

Clearly the boxplot doesn´t correspond to what it is supposed to. I appreciate any help.

Best regards,

Peter

[2018-10-12 23:40] crew102 commented on #131
Hi Peter, `ggMarginal()` requires that the main plot is a scatter plot (and not a histogram, as you have there). I'm not sure why/how it would have worked for you in the past.

[2018-10-13 00:29] peterolejua commented on #131
Well I did it in the past like this:

[code]

and it gave me this:

![image](https://user-images.githubusercontent.com/7348041/46899105-0ff42280-ce55-11e8-87b3-a52eb50151f1.png)

So I guess that it is possible to make your function able to it again,

Thank you very much!

[2018-10-13 20:39] daattali commented on #131
Hi Peter,
It's interesting that this used to work for you, because it was never an intended feature. The documentation and examples were always explicit in saying that this function adds marginal plots to **scatter plots**.
I'm sorry that histograms aren't supported any longer, if I had known that they worked in the past I would have added a comment saying this behaviour may not remain forever. Un

[2018-10-13 20:39] #131 closed

[2018-10-16 08:39] jarauh opened #132 "Lift restriction to scatter plots, allow marginal plots for density plots"
In earlier versions of `ggExtra`, it was possible to add a `ggMarginal` to a `geom_line`. The current code explicitly looks for a `geom_?point` in the plot and fails if no scatter plot is present.

When there are lots of data points, I find that scatter points are not very helpful, and I prefer to simply plot the 2d-density. A marginal plots can still be helpful in such a situation.

Example (adap

[2018-10-16 14:56] crew102 commented on #132
Hi @jarauh ,

We probably don't want to try and support other plot types (i.e., non-scatter plots) for the main plot (see https://github.com/daattali/ggExtra/issues/131#issuecomment-429573557 for further details).  It would also be difficult to support 2-d density plots b/c of the issue shown below:

[code]

![](https://i.imgur.com/4STC6xN.png)

[code]

Created on 2018-10-16 by the [reprex package

[2018-10-22 12:47] jarauh commented on #132
Ah, I understand.  Thank you for the explanation.

So the problem seems to be: The original data disappears when using `ggplot_build`.  However, before `ggplot_build`, it is difficult to anticipate all transformations that are hidden in the ggplot object, and so `ggMarginal` has to use `ggplot_build`.  Is this more or less correct?

By the way, is there a good place to learn about the `ggplot2`-in

[2018-10-23 01:15] crew102 commented on #132
Kinda...You can still get the raw data using `ggplot_built`, but it's just not located where it normally is (i.e., when the plot is a scatter plot). The bigger issue really has to do with the fact that supporting marginal plots for plots that aren't scatter plots would be extremely messy and is beyond the scope of the package.

Yep.

You can try the ggplot2 book: https://github.com/hadley/ggplot2-

[2018-10-23 09:02] jarauh commented on #132
Thanks for your answers.  I have the book, but it does not go into the details.  For example, `ggplot_build` is not mentioned, not even `ggproto`.  The ggplot homepage has some more information (on `ggproto`), but again, not too much detail about `ggplot_build` and other internals.  But ok, maybe the documentation is not fast enough to cover recent changes to internals (given the recent jump in ma

[2018-10-23 09:02] #132 closed

[2018-10-23 12:57] crew102 commented on #132
I would look to the source if you can't find details in the book.

[2018-11-27 15:56] Aariq opened #133 "plots don't print in-line in R Notebooks"
`ggMarginal()` plots don't print in-line or in the Viewer tab (i.e. they don't print at all) in R Notebooks.
[ggExtra notebook bug.Rmd.zip](https://github.com/daattali/ggExtra/files/2620729/ggExtra.notebook.bug.Rmd.zip)

[2018-11-27 16:51] crew102 commented on #133
Hey @Aariq , a few notes:

* In order to view the ggMarginal plot inline in an R Notebook, you need to follow the example given in https://github.com/daattali/ggExtra/issues/89#issuecomment-381923199. Try changing your example to the following 2 chunk alternative:

[code]

[code]

* R Notebooks behave a bit differently than normal R Markdown documents when it comes to the preview feature. Accordin

[2018-11-27 17:59] Aariq commented on #133
Thanks! Sorry I didn't find #89 before posting this.  Is there a reason why `grid.draw()` isn't the default print method?  It would be nice if this just "worked", if you know what I mean.

[2018-11-27 18:06] crew102 commented on #133
It actually is.

https://github.com/daattali/ggExtra/blob/4468f2113ecdd4d4fa2f8d380f843d2ac917b4db/R/ggMarginal.R#L191-L194

I didn't keep up with #89 so I'm not sure why ggMarginal needs to use the 2-chunk approach to printing in notebooks/Rmarkdown docs.

[2018-11-27 18:35] daattali commented on #133
I'm still not sure why notebooks/rmd behave this way, and whether or not this is a big. If you follow the links in #89 you'll see this is not a resolved question. This information is also available in the README (which is, admittedly, a bit long). If you solved the problem (even though we don't know the root of the issue), you can close the issue

[2018-11-27 19:37] crew102 commented on #133
Hey @Aariq , thanks for attempting to fix...Unfortunately your fix would re-introduce the problem fixed in https://github.com/daattali/ggExtra/issues/48, so I'm thinking we leave things as is for now.

[2018-11-27 20:44] Aariq commented on #133
Got it.

[2018-11-27 20:44] #133 closed

[2018-11-29 22:10] VictorNautica commented on #109
I got this error too - my plot (which is in a very complex function) looks something like:

`df  %>% ggplot(mapping = aes(x, y)) +
    stat_function(fun = function(x) any_function_here) +
    geom_point()
`

Swapping the stat_function and geom_point calls around fixed it.

[2018-11-30 15:59] crew102 commented on #109
This issue is fixed in the development version of `ggExtra` (see 97e5036dab8b0b19a9291bfbf37b09272f7fba2b). Try installing it with `devtools::install_github("daattali/ggExtra")`.

[code]

![](https://i.imgur.com/eO1X9so.png)

Created on 2018-11-30 by the [reprex package](https://reprex.tidyverse.org) (v0.2.0.9000).

[2018-12-19 13:15] dstern opened #134 "Don't plot empty bins?"
Dean
Love the marginal histogram plots.
I am plotting data with sparse distributions and would like to plot only bins that contain data. Here's an example
![image](https://user-images.githubusercontent.com/836143/50222244-b1bc5200-0365-11e9-991d-e7a4c7f3e0dd.png)
I am surprised it plots for empty bins, because just plotting with geom_histogram gives the histogram with empty bins not plotted.
![ima

[2018-12-19 19:40] daattali commented on #134
Hi David, I'm not quite sure where you see a problem there. Please provide sample input and code to reproduce the issue, and highlight where you see a problem. I'm not sure where in the marginal plots you see empty bins plotted that are not plotted in the geom_histogram, can you please clarify

[2018-12-19 20:07] dstern commented on #134
Perhaps I was not clear.
The top (blue) histogram contains  the same data as the bottom (gray) histogram. In the blue histogram, bins with 0 counts are plotted as a solid line. I would like to remove this line so that only bins with values are visible. Perhaps this line is not technically a bin? In any case, I would love to be able to remove it.

[2018-12-19 20:46] daattali commented on #134
Oh I see what you mean. That bottom line is not empty bins, it's just a border line that is always drawn. I don't remember the exact parameters but I don't think you can remove that line without digging into the source code

[2018-12-19 22:00] crew102 commented on #134
Yeah, not possible to remove line without changing source code.

[2018-12-19 22:41] dstern commented on #134
Thanks. I'll dig into the code and let you know if I come with anything useful.

[2018-12-19 23:42] daattali commented on #134
You'll definitely be able to remove it by modifying the source code, it's just one (of the many!) theme options that are set. I'm closing this issue because this is not something that is going to change in the package. Feel free to ask for help if you're unable to find the exact option that sets this line

[2018-12-19 23:42] #134 closed

[2019-01-23 12:21] idavydov opened #136 "Cannot add ggproto objects together"
Hi,

Sorry, maybe this was already discussed before.

This code does not work:

[code]

While this does:
[code]

![](https://i.imgur.com/SMjO5Wk.png)

Created on 2019-01-23 by the [reprex package](http://reprex.tidyverse.org) (v0.2.0).

[2019-01-23 16:18] crew102 commented on #136
Hi @idavydov , this syntax won't work b/c `%>%` is taking precedence over `+` , so the example you gave gets evaluated like this:

[code]

`ggMarginal()` obviously needs more than just a layer (i.e., `geom_point()`) to do its thing, hence the error. You can override the precedence if you'd like, which should fix things:

[code]

[2019-01-23 20:59] idavydov commented on #136
Thanks a lot for your explanation, that is very helpful.

[2019-01-23 20:59] #136 closed

[2019-02-09 21:55] #90 closed

[2019-02-15 16:16] crew102 opened #140 "Travis randomly fails sometimes"

[2019-02-15 19:08] daattali commented on #140
Is this not just one of life's great mysteries that are meant to remain unsolved?

[2019-02-15 19:16] crew102 commented on #140
Haha, that's what it feels like

[2019-02-19 15:49] crew102 commented on #140
So the issue here is that we are relying on the github API to install the latest version of ggplot2, and we're running into one of the API's throttling limits during the build. I implemented the solution mentioned here - https://github.com/r-lib/remotes/issues/210#issuecomment-448582301, and that seemed to fix the build for my Travis account. Can you do the same for your Travis account?

I have on

[2019-02-19 18:02] daattali commented on #140
That does sound like a sensible reason for those failures. Thanks for investigating. I've added the envvar to my travis, let's try the new build

[2019-02-19 19:30] #140 closed

[2019-02-19 19:32] crew102 commented on #100
Closed by #139

[2019-02-19 19:32] #100 closed

[2019-05-14 20:33] paleolimbot opened #141 "Forthcoming release of ggplot2 and ggExtra"
We are contacting you because you are the maintainer of **ggExtra**, which imports **ggplot2** and uses **vdiffr** to manage visual test cases. The upcoming release of **ggplot2** includes several improvements to plot rendering, including the ability to specify `lineend` and `linejoin` in `geom_rect()` and `geom_tile()`, and improved rendering of text. These improvements will result in subtle chan

[2019-06-03 18:12] DoaneAS commented on #128
Axis limits are basic plot attributes.  Is there any way to specify axis limits for the marginal plots?

[2019-06-03 20:58] crew102 commented on #128
Do you mean you want to set the limits of the marginal plots to be different from the limits used in the scatter plot?

[2019-06-04 02:57] DoaneAS commented on #128
I want the limits to be the same in the scatter and box plots.  I’m setting scatter plot limits with `coord_cartesian(xlim = xlim, ylim = ylim)`, but the box plots are not picking this up.

[2019-06-04 03:01] crew102 commented on #128
Try using xlim/ylim or scale_x_continuous/scale_y_continuous:

[code]

![](https://i.imgur.com/hNykrd5.png)

Created on 2019-06-03 by the [reprex package](https://reprex.tidyverse.org) (v0.2.0.9000).

[2019-06-06 21:20] daattali commented on #115
I don't want to introduce such a breaking change, closing

[2019-06-06 21:20] #115 closed

[2019-06-10 16:37] bencneely commented on #64
I'm in agreement with lavkan. I was asked by a reviewer to succinctly display sample size. A histogram worked great to display distribution in the margin, but I'm still lacking magnitude. Being able to add y-axis counts on histograms would be beneficial, in my opinion. Thanks for a great package!

[2019-06-10 17:05] daattali commented on #64
@bencneely feel free to submit a pull request if you want to work on this!

[2019-06-11 07:48] crsh opened #143 "Marginal plots with other geoms for the main plot"
Hi Dean,

as per [our brief Twitter conversation](https://twitter.com/daattali/status/1136859911927652352), here's the example where `ggMarginal()` doesn't work when applied to something other than a scatterplot. As I said, I'm not sure this is a bug; I was under the impression that other geoms are simply not supported.

[code]

[code]

If I add invisible points, it works:

[code]

[2019-06-11 19:36] daattali commented on #143
Ah yes, the code does explicitly look for a scatterlpot since that's technically what it's meant to support. If it works for other plot types, that's a nice surprise

[2019-06-21 18:31] wpetry opened #144 "(feature) Specify layer(s) that ggMarginal uses"
This feature would allow the user to specify which layer of the ggplot is used to make the marginal plots. It would be a more controlled middle ground between the original behavior addressed in issue #67 and the current behavior (using all layers).

[2019-06-21 18:34] wpetry opened #145 "ggMarginal ignores expand argument"
In `ggMarginal`, the marginal plots use `expand = TRUE` even if the user has specified `p` to have `expand = FALSE`. This leads to a misalignment of the data between the main plot and margins.

[2019-06-21 20:11] daattali commented on #144
Could you please post some usecases/examples of how you see this working?

[2019-06-21 20:12] daattali commented on #145
Can you please add a small fully reproducible example code

[2019-06-21 20:57] wpetry commented on #145
Sure thing, @daattali

Load packages & generate data
[code]
Using the default `expand = TRUE` works—the density plots cut off in line with the data. This is expected behavior.
[code]
![Rplot](https://user-images.githubusercontent.com/11151477/59950581-61bd6580-9444-11e9-9fb8-15c2bc387548.jpeg)

Using `expand = FALSE` misaligns the density plots. The lines should extend the whole axis extents, and

[2019-06-21 21:04] daattali commented on #145
Great, thanks for the detailed report and examples. I'm on mobile and rushing, but is this related/duplicate of https://github.com/daattali/ggExtra/issues/128 ?

[2019-06-21 21:16] wpetry commented on #144
I'm making a phase plot using a ribbon annotation to separate areas with qualitatively different outcomes. I want to plot the marginal density of the scatter points, but the data for the annotation ribbon appear to be driving the behavior of the marginal density plots.

Load packages, make data:
[code]
![Rplot02](https://user-images.githubusercontent.com/11151477/59951762-e78ee000-9447-11e9-9e35-4

[2019-06-21 21:20] wpetry commented on #145
They're very closely related for sure (sorry for not referencing #128), but I think this may be a separate (or subset) of that issue that would be easier to fix.

[2019-06-21 21:41] daattali commented on #145
Thanks for reporting. Feel free to take a look and tackle it in the proper
way if you find some time!

On Fri, Jun 21, 2019, 17:20 Will Petry <notifications@github.com wrote:

[2019-06-22 17:42] wpetry commented on #145
I thought I had a solution for the CRAN version, but I see that the GH version has switched to R6. I'm afraid this is a bit out of my depth.

[2019-06-23 00:38] daattali commented on #144
This code does work for me. I tried both the CRAN and the latest GitHub versions.

[code]

I get
![image](https://user-images.githubusercontent.com/952340/59970179-b4bf1780-952d-11e9-8220-f7b25864a69e.png)

[2019-06-25 05:06] crew102 commented on #145
I'd be happy to integrate your solution into the current codas of ggExtra, so long as the fix you're talking about isn't too hairy.

[2019-06-29 05:25] crew102 commented on #145
Hi @wpetry , I looked into this and it basically amounts to #128. `ggMarginal()` currently doesn't handle the cartesian coordinate system well (i.e., it doesn't work well for plots that were built using the `coord_cartesian()` function). The reason why it seemed like there was a specific issue with the `expand` argument is b/c the `coord_cartesian()` call in your example didn't actually change the

[2019-06-29 05:34] daattali commented on #145
Thanks for looking into it. Closing this as duplicate

[2019-06-29 05:34] #145 closed

[2019-07-12 23:29] #141 closed

[2019-08-07 14:44] IndrajeetPatil opened #147 "alternative solution to using `ggMarginal` in R Markdown or Notebook files"
I use `ggMarginal` function in my [package](https://indrajeetpatil.github.io/ggstatsplot/articles/web_only/ggscatterstats.html) and one of the issues that keep popping up is that the users get confused that running code chunk doesn't return a plot (e.g., [this issue](https://github.com/IndrajeetPatil/ggstatsplot/issues/208)).

I know that `README` mentions how to do this (and I've included a simil

[2019-08-07 14:47] IndrajeetPatil commented on #147
Can `knit_print` be of any utility here?

https://cran.r-project.org/web/packages/knitr/vignettes/knit_print.html

[2019-08-08 01:15] crew102 commented on #147
Hi @IndrajeetPatil , I messed around with `knit_print` and couldn't get anything going. I also tried looking into alternatives to ggMarginal's current print method that would make it behave nicer in Rmarkdown docs, also to no avail. This may be a fixable issue, but I don't think I could do it without getting far into the internals of knitr.

[2019-08-08 03:45] daattali commented on #147
@IndrajeetPatil You can see some information about showing ggmarginal in notebooks in this issue https://github.com/daattali/ggExtra/issues/89

One thing that might work for you is whenever you make the function call to print the plot, instead of calling `print(p)`, you can use `print(p, newpage = TRUE)` (assuming `p` is a ggmarginal object)

[2019-08-13 16:58] IndrajeetPatil commented on #147
@daattali Those solutions still require extra effort on the part of the **user** and that's exactly what I am trying to avoid.

Pretty much anyone who uses `ggplot2` or any of its extensions packages expect that just running the go button for the RMarkdwon chunk will render the plot and `ggExtra` _might_ just be the only exception to this rule. So the natural inference the users draw when this doe

[2019-08-13 17:58] daattali commented on #147
I didn't mean the end user would do anything. I was suggesting perhaps your function in ggstatsplot could be explicit about printing ggmarginal.

[2019-08-13 18:08] IndrajeetPatil commented on #147
Ah, I see.

I had considered this option but just printing the plot to a device makes it difficult to do anything further with them. Often, you want to combine two of such plots together and that wouldn't work with this approach.

[code]

![](https://i.imgur.com/cZWY3V5.png)

    #> [1] "NULL"

    cowplot::plot_grid(gg_fun1(plot), gg_fun1(plot), labels = c("a", "b"))

    cowplot::plot_grid(gg_fu

[2019-08-13 21:01] daattali commented on #147
Yes that's true. I'm not sure how this can be avoided, but you're welcome to look at the source code and submit a fix if you think one exists. We use a lot of `gtable` to build the plot, so it's something to do with gtable getting printed to graphics devices. I'm not an expert in this, but if you have some knowledge with these packages perhaps you'll see how this can be fixed

[2019-08-13 23:33] crew102 commented on #147
I think I have a solution. Give me a few days and I'll submit something.

[2019-08-16 23:35] crew102 commented on #147
K so it turns out that my fix has a problem. A leading blank page will appear when the user runs the code interactively (i.e., when pressing the "run current chunk" button). This blank page only appears the first few times in a given RStudio session (sometimes the blank page disappears on the second run, other times on the third). I'm not sure what exactly is going on, but I think it has something

[2019-08-17 02:09] daattali commented on #147
Thanks for all the work and investigation! Since you mention the word "interactively" - would this be solved by checking for `interactive()`? Or am I being way too naive?

[2019-08-19 21:17] IndrajeetPatil commented on #147
@crew102 Thanks a bunch for the sleuth work to find an alternative solution!

This solution would definitely work for me - I doubt the users will think that the function did not work when they can clearly see the output.

[2019-08-20 00:01] crew102 commented on #147
Checking for whether the code is run interactively or in an R Markdown chunk is indeed part of the solution, but that alone doesn't fix the leading blank page. I fooled around with different arrangements of using `grid.newpage()` and `grid.draw()`, and nothing seemed to get rid of the leading blank page.

I'll open up a PR and we can discuss further there if need be.

[2019-08-20 16:30] #147 closed

[2019-10-29 19:28] pricklpitty commented on #128
Using xlim/ylim or scale_x_continuous work so that the marginal plots adapt to the same axis, which works welll for scatterplots but not for additional line plots as they are cut at the limits even if the shown axis extends a bit further.
Therefore, I would like to use coord_cartesian or alternatively scale_x_continuous(limits=limits, expand=c(0,0)). I want to plot a scatterplot together with a ge

[2019-10-30 16:14] crew102 opened #149 "Build failing when testing against dev version of ggplot2"
Lines 887-914 of the latest build provide details.

Figures don't match: legend-and-title.svg

[2019-10-30 16:21] crew102 commented on #128
Hmm, my first thought is probably not, there won't be a way to do that b/c it will require coord_cartesian. If you can provide an example of the type of behavior that you're seeing and what you would prefer to see, I can take a closer look at it.

[2019-11-01 20:02] pricklpitty commented on #128
Thank you for considering my request!
Aim: a scatterplot together with boxplot margins, a line plot and defined axis limits, because I have several subplots and want to use the same limits.
Problem: either no limits, cut line plot or boxplots not matching data points
Example code:

[code]
![ggMarginal_p](https://user-images.githubusercontent.com/32874153/68052437-ec16af80-fce9-11e9-8e86-cbac051b4f

[2019-11-02 00:17] crew102 commented on #128
Hi @pricklpitty , thanks for clarifying/for the good examples. Unfortunately what you want to do would require a fix to how ggMarginal deals with the the "cartesian" coordinate system (i.e., a fix to the issue originally reported here), which isn't easy. We've decided not to attempt to fix this issue for now, as it would introduce quite a bit of complexity into the code.

[2019-11-08 10:53] pricklpitty commented on #128
Hi @crew102, thank you for your response. Yes, it would require to fix the original issue posted here. Unfortunately, I am still struggling with this issue, e.g. trying to use dummy data to fix the limits, but I do not succeed in matching boxplots AND continue the line to figure limits, I can only produce one of the targets at once... Do you have any workaround suggestion for me?

[2019-11-14 03:28] crew102 commented on #128
Hmm, yeah, sorry, I can't think of one.

[2019-11-18 08:59] Sim19 opened #150 "Installation to R 3.6 failed - probably due to typo ‘httpuv’"
Installing ggExtra via install.packges('ggExtra') or via devtools::install_github("daattali/ggExtra") fails in R 3.6:

ERROR: failed to lock directory ‘/home/sim1/R/x86_64-pc-linux-gnu-library/3.6’ for modifying
Try removing ‘/home/sim1/R/x86_64-pc-linux-gnu-library/3.6/00LOCK-httpuv’
Error: Failed to install 'ggExtra' from GitHub:
  (converted from warning) installation of package ‘httpuv’ had no

[2019-11-18 09:09] Sim19 commented on #150
httpuv doesn't remove folders from unseccussful installations. Removing of httpuv and 00LOCK-httpuv and re-installing worked fine for me

[2019-11-18 09:09] #150 closed

[2019-11-26 22:49] hisakatha commented on #27
For your information, I'd like to let @daattali know that `geom_hex` is no longer supported since ggExtra version 0.9, although there is another way to achieve similar plots (http://www.lreding.com/nonstandard_deviations/2017/08/19/cowmarg/).

Example:

(R: 3.6.1, ggplot2: 3.2.1, ggExtra: 0.9)

[code]

![](https://i.imgur.com/OOXspsY.png)

[code]

<sup>Created on 2019-11-27 by the [reprex package]

[2019-11-29 01:48] daattali commented on #27
Thanks. You could technically still do it with ggExtra by also adding `+ geom_point(col="transparent")` but it's not very efficient because the geom_point takes a long time

[code]

But I'll reopen the issue since that's not a great solution

[2019-11-30 22:04] crew102 commented on #27
@daattali , do we want to relax the assumption that there has to be a geom_point layer for ggMarginal to try to create the marginals? In other words, do we want to check if there is either geom_point or geom_hex moving forward, as opposed to requiring there be a geom_point layer?

[2019-12-01 07:08] daattali commented on #27
I'm comfortable with that, under the assumption that it will also work correctly of course :) I tried seeing what happens if we check for point OR hex, and didn't change anything else, and the results are incorrect because the marginal density treats the hex as if they are regular points, disregarding the density that each hex point conveys.

[code]

[code]

![image](https://user-images.githubuser

[2019-12-03 03:31] crew102 commented on #27
Ergh, you're right. I'd be possible to use the underlying data, but it would add additional complexity to the codebase and I think not be worth it. I'm partial to simply requiring that a geom_point layer be used.

[2019-12-03 03:40] daattali commented on #27
Agreed. This can remain open as I'm not opposed to supporting it if a natural solution presents itself

[2020-02-13 17:02] davidizquierdogomez commented on #144
Hello, is it possible to add axis to marginal plots created with ggMarginal () ?

[2020-02-13 18:03] daattali commented on #144
I think you're talking about the same thing as #64

[2020-02-13 23:50] davidizquierdogomez commented on #64
yes, that's my case as well. I'm a reviewer in this case and I fully recommend the axis of marginal plots...

[2020-02-14 00:00] davidizquierdogomez commented on #144
Exactly, @daattali. I am a reviewer on a paper and it's a pity that the proportions of the density plots are not display to get, in a quick glance, all the info needed to interpret the figure.

On the other hand, I'm building up a figure using a bubble plot (latitude and longitude points) over a map (shapefile). I'm using several geom_line(), geom_path(), geom_polygon() layers in a ggplot2 mode. T

[2020-02-14 01:22] daattali commented on #64
I understand that can be a useful feature.  I would welcome anyone who wants to tackle this feature and implement it - I'll very happily accept that feature

[2020-02-14 06:56] davidizquierdogomez commented on #64
Thanks you your answer. I would like to but I'm an experienced beginner so it'll be a bit difficult to do it for the moment but maybe in the future ;D

[2020-04-10 17:53] NikKrieger opened #151 "Marginal histogram bar heights vary depending on color aesthetic / groupFill"
I would think that the bar heights in the marginal histograms of the three plots below should all be the same. They should only differ in fill color.

All three plots use the same underlying data `mtcars`, and I standardized the bin widths across the three plots using the `breaks` parameter.

Notably, this problem is not observed on the [Shiny demo](http://daattali.com/shiny/ggExtra-ggMarginal-dem

[2020-04-11 04:33] daattali commented on #151
What you're seeing is not because of the colour aesthetic. It's because of the (incorrect? strange?) use of xparams. If you remove the xparams and yparams then the plots will look correct.

xparams and yparams are meant to pass parameters to use for the marginal plots, but passing a `breaks` parameter is not an intended usecase. It's meant more for things like colour or binsize or things like that

[2020-04-11 12:53] NikKrieger commented on #151
I can see that removing the `breaks` parameters corrects the bar heights. The thing is, those parameters are normal `geom_histogram()` parameters--it's another way to specify the bin width, much like the `binwidth` parameter that you alluded to. In other words, these `breaks` are distinct from specifying the axis breaks. Nonetheless, I'll try to find another way to get the bin width and placement

[2020-04-11 17:17] daattali commented on #151
I looked into this some more and I do still think the problem is because you're effectively changing the axis of the marginal plots by specifying break points that don't match with the min/max of the original plot. For example, min(mtcars$disp) is 71.1 but your breaks start at 90 (and the actual x axis starts a bit before 71.1 because ggplot leaves a small buffer). I'm closing this as I'm fairly c

[2020-04-13 15:57] NikKrieger commented on #151
It turns out that it's not just a problem with specifying `breaks`---it also occurs when specifying `bins` or `binwidth`:

[code]

![](https://i.imgur.com/p89Cs2N.png)

[code]

![](https://i.imgur.com/z2eLAoL.png)

[code]

![](https://i.imgur.com/BEpJ3cr.png)

<sup>Created on 2020-04-13 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

It seems that `binwidth` and `bins` also a

[2020-04-13 17:05] daattali commented on #151
You're right, it does seem to be off.

After some investigation, it looks like the culprit may be [this line](https://github.com/daattali/ggExtra/blob/b492204d781d1cadb8a74b18e5e4a9264978b345/R/ggMarginal-MarginalPlot.R#L228)

If I change it to `ggplot2::geom_histogram` then it seems to work as expected.

I can trace back the change from `geom_histogram` to `geom_histogram2` in [this commit](https

[2020-04-13 17:14] daattali commented on #151
I think `geom_histogram(ggplot2::aes(y = ..density..)` was added in an effort to support densigram plots, as a way to try to match the histogram bar heights to the density curve height. But I'm not sure why it was needed for regular histogram marginal plots (when densigram isn't used).

[2020-04-13 17:33] crew102 commented on #151
Yep, that' why it was added. I didn't consider the fact that some people would want to be setting params of stat bin that aren't supported by the density stat (e.g., breaks, binwidth). I'll fix sometime this week.

[2020-04-15 10:34] IndrajeetPatil opened #152 "support title alignment with the plot introduced in `ggplot2 3.3.0`"
The latest (`3.3.0`) release of `ggplot2` introduced a way to align the plot titles with the plot:

[code]

![](https://i.imgur.com/nK80pOO.png)

But this alignment is removed by `ggExtra`:

[code]

![](https://i.imgur.com/hbLIXbO.png)

[2020-04-17 14:29] crew102 commented on #152
I'm not sure if this would be all that feasible to support. We pull the title/subtitle grob out of the built scatter plot (see `getTitleGrobs()`). If the built scatter plot doesn't include modifications to the title/subtitle that come from `theme()` (e.g., plot.title.position), there wouldn't be an easy way for us to include those modifications. I suppose we could check for modifications such as a

[2020-05-09 05:00] #149 closed

[2020-06-05 05:38] #151 closed

[2020-06-05 05:38] daattali commented on #151
@NikKrieger can you confirm this is working now as expected? And if it does, please thank @crew102 :)

[2020-06-17 18:01] davidizquierdogomez commented on #20
if you create another variable "index" and you parse it to the ggplot() instead of your discrete variable, you will get both marginal plots. Then if you want to get the true tick names of your original discrete variable, you just create the labels for the ticks marks at the end of the ggplot script...

Basically you cheat ggplot with a new variable (integer) and when the job is done, you substitue

[2020-09-18 07:51] sonic220 opened #155 "Does ggExtra provide normal fitting to marginal histograms?"
The ggExtra provides beautiful a solution to place marginal histograms. However, my work frequently requires fitting of this marginal histograms. It would be nice if ggExtra could do it but it seems that it cant.

Is there anyway that I can do it or will ggExtra provide such option soon?

[2020-12-10 23:08] crew102 commented on #155
Sorry for the delay, I must of missed this. So you're wanting for the marginal plot (i.e., histogram) to be transformed in some way, making it follow more of a normal distribution? If so, I would suggest you transform the input data first, then call ggMarginal

[2021-01-08 23:19] daattali opened #156 "Migrate from travis CI to GitHub Actions"
Reason: https://deanattali.com/blog/migrating-travis-to-github/

[2021-02-23 14:08] ramprasadn opened #157 "Is it possible to add counts on top of histogram bars?"
I usually find myself wanting to add labels of counts in marginal histograms, and the only way I know how to do that is by generating individual histograms with bar labels and then running something similar to [the top answer in this thread](https://stackoverflow.com/questions/8545035/scatterplot-with-marginal-histograms-in-ggplot2) to arrange the plots. I am not a big fan of this approach, as it

[2021-03-19 00:27] crew102 commented on #157
Hi @ramprasadn , for something like that you'd probably just want to follow the approach that you linked to. ggMarginal kinda draws a line at including details like axis labels.

[2021-03-30 14:17] sfd99 opened #158 "Does ggMarginalGadget(plot) work from the Console Panel (Rstudio)?"
**Hi Dean,**

ggExtra = great, useful pkg!.

**ggMarginalGadget(plot)**  or the equivalent Addin.
works great
from Rstudio's **[Source Panel]**.

But,...
from Rstudio's **[Console Panel]**

Using the ggextra Vignette example,
for: ggMarginalGadget(plot)

if (interactive()) {
  plot <- ggplot2::ggplot(mtcars, ggplot2::aes(wt, mpg)) + ggplot2::geom_point()
  plot2 <- ggMarginalGadget(plot)
}

pops u

[2021-03-30 23:33] daattali commented on #158
Thanks for the report!

I've been able to pinpoint the issue to a difference between retrieving an object that has the same name as an internal function (such as `plot`) from within a package's function vs outside of a package function. It looks like at some point, perhaps because of changes to R, it changed.

To show you what I mean:

- Define a variable `sum <- "test"`
- Create a super basic R p

[2021-03-30 23:55] daattali commented on #158
fixed in https://github.com/daattali/ggExtra/commit/e23ccb9810190b42e6069bd7899978602194581e

[2021-03-31 02:01] daattali commented on #158
It may have seemed quick to you but it was a very long frustrating hour of debugging for me :)

`p` causes the same issue. `p` is a function in shiny (well, actually, in htmltools), for creating paragraph in HTML. Basically you can't use a variable that is already a function.

I'll reopen this because this problem should be handled better rather than my bandaid solution of "don't do this". It's st

[2021-03-31 02:54] #158 closed

[2021-03-31 02:55] daattali opened #159 "Addin: errors messages in console"
These messages did not used to exist but now when I run

[code]

I see

[code]

[2021-03-31 02:58] #159 closed

[2021-07-02 01:44] crew102 opened #161 "Reconsider which versions of ggplot2 we test under?"
I'm wondering if testing under all ggplot2 versions since 2.2.0 is really worth it? For example, maybe we should just test under the latest couple versions. I guess there could be people out there who are using both ggMarginal and an older version of ggplot2 who would be impacted if we introduced a bug that is apparent only in their older version, but it seems unlikely.

[2021-07-03 08:03] daattali commented on #161
I've been having similar thoughts because it finally clicked to me recently that the tidyverse mantra is to always be up to date on ALL packages, and if one package is slightly outdated than it's normal to expect problems.

So yes, since this package relies on ggplot2, it would make sense to just keep up with the latest CRAN version

[2021-07-03 22:24] ms-gx commented on #64
@daattali can you tell me where I have to modify your code in order to show the y-axis for histogram marginal plots?

[2021-07-04 12:19] daattali commented on #64
@ms-gx I haven't touched the core functionality of this package in 3+ years so I can't tell you. It would need to be found out by walking through the code, with a debugger perhaps

[2021-07-05 18:02] crew102 commented on #161
KK, I'll get around to refactoring test code sometime soon.

[2021-07-05 18:21] crew102 commented on #64
Hey @ms-gx , here's where the main plot grab associated with the histogram is pulled out of the marginal plot, leaving behind all of the axis grobs. You'd have to edit this code so that the axis grobs are pulled out along with the main plot grob.

https://github.com/daattali/ggExtra/blob/5d51a7fa02de21f81e13bb705a4b40d8e7f9259e/R/ggMarginal-helpers.R#L68-L108

[2021-07-05 18:35] #156 closed

[2021-07-06 09:45] ms-gx commented on #64
@crew102 Thanks so much! I tried, but couldn't figure it out. So I might have to use another package for marginal plots or just leave it as it is.

Thanks again.

[2021-08-27 00:00] dkulp2 opened #162 "Marginals from different data"
I'd like to display marginals from a different, (much) larger data set. The idea is to show that the points in my scatter plot are in the tails of the x and y distributions.
I expected that providing the data parameter would override the data used in the plot. But it seems to be ignored.

[2021-11-29 15:38] SgtVil opened #163 "Add statistics via ggstat or ggpubr ?"
Hi, first of all thx for this nice and easy package
Do you think it will be possible to had the stats on the function ? It's very usefull to display stats for the boxplot between groups in microbiota studies or else.
For now I'm doing it manually but I think it would be a nice feature for your package

Cheers,

Rémy

[2021-11-29 23:02] daattali commented on #163
Hi Rémy, unfortunately I'm not intimately familiar with {ggstat} or {ggpubr}, so I won't be adding support for them. If you feel inclined to take on the task of implementing this feature, I'd be happy to discuss it

[2021-11-30 09:52] SgtVil commented on #163
It would be with great pleasure but to be honest I think I'm not there yet in terms of programming. When I feel armed enough for some programming task I will let you know.
Anyway thx again
Have a nice day

[2021-12-01 03:47] daattali commented on #163
I'm going to close this issue since realistically I don't think anyone else is going to tackle this. Feel free to send a PR or re-open in the future if you want to try

[2021-12-01 03:47] #163 closed

[2022-02-25 10:38] PatrickOStats opened #164 "parameters for marginal plots (xparams) not going through: 'boundary', 'center' for histogram"
With 'xparams' and 'yparams' parameters can fed to, e.g. the _marginal histograms_.
However, _it appears that 'boundary' is already fixed internally_ and providing a value is ignored. Likewise, if instead trying to specify only the option 'center' (no 'boundary'), an error is produced that both can't be specified simulatenously.
I've not explored extensively whether other options in x/yparams woul

[2022-02-25 10:41] PatrickOStats opened #165 "ggMarginal gadget: plot type "densigram" is (the only one) missing"
Of the 5 plot types, densigram is the only missing in add-in gadget. Maybe it can be added too, provided it's not much more than a couple of lines of code that need to changed?

Thanks.

[2022-03-02 00:49] crew102 commented on #151
Hey @WJH58 , can you provide some sample data so that I can reproduce things on my end? Better yet, can you reproduce issue using a dataset that I would have access to (e.g., built in dataset, or dataset that ships with ggplot).

[2022-03-02 07:10] WJH58 commented on #151
Hi this is my "data2".
[data2.txt](https://github.com/daattali/ggExtra/files/8167382/data2.txt)

And the code corresponding to the first figure is:
[code]
The code corresponding to the second figure is:
[code]

Thanks if you can help!

[2022-03-02 22:13] crew102 commented on #151
Hey @WJH58 , this was actually fixed in https://github.com/daattali/ggExtra/pull/154. If you download the dev version of ggExtra, you should see that the plot looks as expected.

[2022-03-03 01:59] WJH58 commented on #151
@crew102 Thank you! I updated ggExtra and found it worked!

[2022-03-17 05:19] daattali commented on #164
Thanks for the detailed report @PatrickOStats - fixed by @crew102

[2022-03-17 05:19] #164 closed

[2022-03-17 05:19] daattali commented on #165
Thanks for the report, it's been added

[2022-03-17 05:19] #165 closed

[2022-03-17 05:43] daattali commented on #162
Apologies for letting this issue go quiet for so long. Please see an old discussion [here](https://github.com/daattali/ggExtra/pull/110) for why what you want is not meant to work.

I really should update the docs to make that clear. You can provide `data`,`x`,`y` INSTEAD of `p`, not in addition to `p`

[2022-03-17 05:43] #162 closed

[2022-03-17 05:51] #155 closed

[2022-03-17 05:51] #157 closed

[2022-03-17 05:57] daattali commented on #151
This reminds me that a new version should go out to CRAN. It will happen within the month.

[2022-05-02 22:52] taylorreiter opened #167 "ggMarginal support for groupShape = T"
Hello! I'm writing to ask whether it would be feasible/in the spirit of ggMarginal to support histograms based on shape type.

I have the following scatter plot:
<img width="763" alt="Screen Shot 2022-05-02 at 3 48 44 PM" src="https://user-images.githubusercontent.com/23057646/166338996-7b26de45-c1f0-4318-9f19-7a8e13c361ff.png">

I would like to add marginal density curves based on the shape, `sta

[2022-05-03 06:01] daattali commented on #167
Sorry, only grouping by colour is supported. If you really wanted to you could modify the source code to work for shapes too by looking how we do it for colours, but I prefer not to add that into the package because then there would be a laundry list of arguments

[2022-05-03 06:01] #167 closed

[2022-08-12 17:14] jessexknight opened #168 "`groupFill` uses `colour` aes?"
Thanks for all your work.

Because `groupFill` uses the `color` aes for the marginal `fill` ([see here](https://github.com/daattali/ggExtra/blob/f168a213e96253c666d1bb4707dbf127c665d54c/R/ggMarginal-MarginalPlot.R#L94)), fill-based shapes ([21-25](http://www.sthda.com/english/wiki/ggplot2-point-shapes)) don't get their fills mapped to the marginals.

Perhaps we can simply allow use-specified `aes`

[2022-08-21 17:26] crew102 commented on #168
Hey @jessexknight , thanks for bringing this to our attention. My initial thought is that the flexibility that you're looking for re: being able to have a user-specified mapping of how the aesthetics of the scatter plot should map to the aesthetics of the marginal plots is probably not a good fit for ggMaringal. The function attempts to support *most* use cases, with the idea being that if you wan

[2022-08-22 11:51] jessexknight commented on #168
Thanks @crew102 for considering. I can see it's an edge case and understand not supporting it. You're right that I am mainly trying to tweak the styling (original use-case & work-around calling `geom_point` twice [here](https://github.com/mishra-lab/mpox-model-netcb/blob/7ffe220/code/model/plot.r#L20)). Thinking more on this, I almost feel the true problem is upstream at ggplot2, having shapes 21-

[2022-08-22 11:51] #168 closed

[2022-10-28 21:34] nathanieldelaneybusch opened #169 "ggMarginal grouped boxplots are different widths"
Marginal boxplots colored by groups produce boxes of different widths. Using params lists (e.g. xparams = list(varwidth = FALSE)) does not appear to fix the issue.

Example:
[code]
![image](https://user-images.githubusercontent.com/35230369/198736362-d986acea-98d6-42e5-ba5a-f6a29d024cf3.png)

I am using ggExtra 0.10.0 and ggplot2 3.3.5 on a windows machine.